@use "../game-board-styles";
@use "../../../theming/theming";
@import "../../button/button";

.board-actions {
  @extend ._board-section;
  @extend %evenly-center;
  // padding: 5px;
}

.board-action-btn {
  @extend .btn-icon;
  height: 30px;
  min-width: 30px;
  flex-grow: 1;
  font-size: 1.5rem;
  &::after {
    width: 30px;
    border: 1px solid transparent;
  }
}

.btn-icon--exit-game {
  @include afterIcon("home");
}

.btn-icon--restart-game {
  position: relative;

  &:before {
    width: 30px;
    @extend .icon-redo;
  }

  &:after {
    @extend .icon-play;
    position: absolute;
    left: 0;
    font-size: 0.6rem;
    top: 8px;
    width: 100%;
  }
}

.btn-icon--reset-game {
  @include afterIcon("sliders");
}

.btn-icon--sneak-peek {
  @include afterIcon("low-vision");
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .board-action-btn {
    color: theming.getThemeColor("light", "theme-primary");
    @include game-board-styles.boardBorders("light");
    background-color: theming.getThemeColor("light", "board-button-background");

    &:hover,
    &:focus {
      color: theming.getThemeColor("light", "theme-primary-intense");
    }
  }
}

.theme-dark {
  .board-action-btn {
    color: theming.getThemeColor("dark", "theme-primary");
    background-color: theming.getThemeColor("dark", "board-button-background");
    @include game-board-styles.boardBorders("dark");

    &:hover,
    &:focus {
      color: theming.getThemeColor("dark", "theme-primary-intense");
    }
  }
}
