@use "sass:list";

.icon-play {
  @extend %icon-regular;
  content: fa-content($fa-var-play);
}

.icon-reset {
  @extend %icon-regular;
  content: fa-content($fa-var-undo-alt);
}

.icon-previous {
  @extend %icon-regular;
  content: fa-content($fa-var-chevron-left);
}

.icon-next {
  @extend %icon-regular;
  content: fa-content($fa-var-chevron-right);
}

.icon-send {
  @extend %icon-regular;
  content: fa-content($fa-var-paper-plane);
}

@mixin setGamePlayIcons($base-selector) {
  $mine-types: "play", "reset", "previous", "next", "send";
  @include setIdentifierIcons($base-selector, $mine-types);
}
