@import '../../../theme/utilities';
@import '../../../theme/card.scss';
@import '../../../theme/iconography/iconography.scss';



.settings {
    position: relative;


    // border: 2px solid red;
}

.settings-panel {
    border  : 2px solid red;
    position: absolute;
    top     : 36px;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {}

.app--dark {}