@import '../../../../theme/layouts';
@import '../../../../theme/utilities';
@import '../../../../theme/mixins';
@import '../../../../theme/iconography/iconography.scss';
@import '../../../../theme/typography/typography.scss';
@import '../../../../theme/elements/button.scss';
@import '../../../../theme/elements/card.scss';
@import '../../../../theme/color-scheme/color-scheme.scss';

.error-container {
  background-color: transparent;
  z-index         : 100;
  width           : 100%;
}

.error-toggle-btn {
  @extend .button;
  @extend .button-icon--small;
  position        : absolute;
  right           : 0;
  top             : 1px;
  padding-left    : 1px;
  background-color: getErrorColor(primary-subtle);
  color           : getErrorColor(icon);

  &:after {
    @extend .icon-exclamation;
  }

  &:hover,
  &:focus {
    background-color: getErrorColor(primary);
    color           : getErrorColor(icon-focused);
  }
}

.error-message {
  @extend .card-shadow;
  position        : absolute;
  right           : 0;
  top             : 30px;
  width           : 100%;
  font-size       : $typography-size-info;
  padding         : 5px 10px;
  border-radius   : 5px;
  z-index         : inherit;
  background-color: getErrorColor(secondary);
  color           : getErrorColor(text);

  @extend .capitalize-first-letter;

  &:after {
    content      : '';
    width        : 0;
    height       : 0;
    position     : absolute;
    right        : 5px;
    top          : -8px;
    border-left  : 5px solid transparent;
    border-right : 5px solid transparent;
    border-bottom: 8px solid getErrorColor(secondary);
  }
}

.input-error {
  padding-right: 25px;
}
