@use "./board-section-theming";

._board-section {
  border-width: 2px;
  border-style: solid;
  min-height: 34px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include board-section-theming.setTheming();
