@import "../layouts/form";
@import "../layouts/button";





@import "./input/text-input";

.form-username-icon {
	@include rectangle(sizes.getSize(input-height));
	@include iconography.afterIcon(user);
	line-height : 27px;
	font-size   : 24px;
	margin-right: 5px;
}