@import "../layouts/button";
@import "../layouts/scrollbar.scss";
@import "./switcher/switcher";
@import "./dropdown-select/dropdown-select";
@import "../abstract/mixins";

@mixin applyGameStyle($theme) {
    @for $i from 1 through 8 {
        .color-type--#{$i} {
            background-color: theme.getGameColor($theme, "type-#{$i}");
        }
    }
}

.settings {
    position: relative;
}

.settings-panel {
    position  : absolute;
    top       : 36px;
    right     : -15px;
    z-index   : z-index.getIndex(settings-panel);
    height    : 0;
    transition: height 0.5s;
}

@function zIndex($index) {
    @return 500 - ($index * 100);
}

.settings-section {
    @extend %start-center;
    min-width      : 200px;
    justify-content: space-between;
    padding        : 10px;

    &:not(:last-of-type) {
        padding-bottom: 0px;
    }

    @for $index from 2 through 4 {
        @debug $index;

        &:nth-of-type(#{$index}) {
            >.dropdown-container>.dropdown-listbox-container>.dropdown-listbox {
                z-index: zIndex($index);
            }
        }
    }
}

.settings-tag {
    text-transform: capitalize;
    font-style    : italic;
    font-weight   : 600;
}

.mine-type-option {
    @include rectangle(22px);
    line-height: 17px;
    font-size  : 1.1rem;
    @include circle(22px);
}

.mine-type-option--bomb {
    @include iconography.afterIcon("bomb");
}

.mine-type-option--bahai {
    @include iconography.afterIcon("bahai");
}

.mine-type-option--virus {
    @include iconography.afterIcon("virus");
}

.game-color-option {
    @include circle(22px);
    border: 1px solid #c0c0c0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .settings-panel {
        @include theme.applyTheme("light", "card");
    }

    @include applyGameStyle("light");
}

.theme-dark {
    .settings-panel {
        @include theme.applyTheme("dark", "card");
    }

    @include applyGameStyle("dark");
}