@import "../game-settings-wizard/game-settings-wizard";

.game-wizard-container {
  min-width: 340px;
  max-width: 340px;
  padding  : 15px;
  animation: slide-in 0.8s ease;
  position : relative;
}

.game-wizard-header {
  @extend %between-start;
  position     : relative;

  >h2 {
    @extend %ellipsis-text;
    flex-grow     : 1;
    padding-right : 10px;
    max-width     : 270px;
    min-height    : 26px;
    line-height   : 26px;
  }

  .btn-icon--close {
    @extend .btn-icon--normal;
    @extend .btn-primary;
    position: absolute;
    right   : 0px;
    top     : -2px;

    &::after {
      max-width: 14px;
    }
  }
}

.game-wizard-content {
  padding: 30px 0px 0px;

  >.settings-wizard {
    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }
}

.stepper-container {
  @extend %between-center;
  padding-top: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .game-wizard-container {
    @include theming.setThemeCard("light");
    @include theming.setThemeBoxShadow("light");
  }
}

.theme-dark {
  .game-wizard-container {
    @include theming.setThemeCard("dark");
    @include theming.setThemeBoxShadow("dark");
  }
}