%wizard-section {
    display              : grid;
    align-content        : start;
    grid-template-columns: max-content auto auto;
    grid-gap             : 15px;
    padding              : 10px 0;
}