@import "../form/form";
@import "../button/button";
@import "../input/text-input";
@import "../dropdown-select/dropdown-select";
@import "../switcher/switcher";


.game-wizard-container {
    min-width   : 320px;
    padding     : 15px;
    animation   : fade-in 0.8s ease;
    position    : relative;
    // overflow : hidden;
    border      : 2px solid red;
}

.level-option {
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .game-wizard-container {
        @include theming.setThemeCard("light");
        @include theming.setThemeBoxShadow("light");
    }
}

.theme-dark {
    .game-wizard-container {
        @include theming.setThemeCard("dark");
        @include theming.setThemeBoxShadow("dark");
    }
}