@import "../button/button";

@import "../input/number-input";
@import "../dropdown-select/dropdown-select";
@import "../switcher/switcher";


@import "./game-wizard-utils";
@import "./level-wizard/level-wizard";
@import "./options-wizard/options-wizard";


.game-wizard-container {
    min-width: 320px;
    padding  : 15px;
    animation: slide-in 0.8s ease;
    position : relative;
}

.game-wizard-header {
    @extend %between-start;
    position: relative;

    >h2 {
        flex-grow     : 1;
        text-transform: capitalize;
        padding-right : 10px;
        max-width     : 245px;
        min-height    : 26px;
        line-height   : 26px;

    }

    .btn-icon--close {
        @extend .btn-icon--normal;
        @extend .btn-primary;
        padding : 2px;
        position: absolute;
        right   : 0px;
        top     : -2px;
    }
}

.game-wizard-content {
    padding: 0 10px;
    margin : 10px 0 20px;
}




.game-wizard-actions-container {
    width: 100%;
    @extend %between-center;
}

.wizard-property-tag {
    text-transform: capitalize;
    height        : getSize("input-height");
    line-height   : 40px;
    grid-column   : 1 / span 2;
    font-style    : italic;
    font-weight   : 700;
}

.wizard-property-container {
    height   : getSize("input-height");
    min-width: 100px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .game-wizard-container {
        @include theming.setThemeCard("light");
        @include theming.setThemeBoxShadow("light");
    }
}

.theme-dark {
    .game-wizard-container {
        @include theming.setThemeCard("dark");
        @include theming.setThemeBoxShadow("dark");
    }
}
