@import "./turns-indicator-utils";

$container-size: 84;

._indicator {
  content: "";
  @include circle(#{$size}px);
  position: absolute;
  z-index : 10;


  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);

  &.turn-indicator--on {
    background: green;

  }

  &.turn-indicator--off {
    background: red;
  }
}

.turns-container {
  position: absolute;
  @extend %center-start;
  @include circle(#{$container-size}px);
  position: absolute;
  z-index : 2;
}

.turn-indicator {
  position        : absolute;
  height          : #{$container-size / 2}px;
  transform-origin: 0 100%;
}