.level-option {
    text-transform: capitalize;
}

.level-property-container {

    .dropdown-container {
        margin-top: 4px;

        >.dropdown-listbox-container {
            z-index  : 800;
        }
    }


    >.number-input-container {
        margin: auto;

        .error-message {
            width: 243px;
        }
    }

}