@import "../../button/button";
@import "../../input/number-input";
@import "../../dropdown-select/dropdown-select";

.level-wizard-container {
    @extend %wizard-section;
}

.level-option {
    text-transform: capitalize;
}

.level-property-container {

    .dropdown-listbox-container {
        z-index: 800;
    }

    >.number-input-container {
        margin: auto;

        .error-message {
            width: 243px;
        }
    }

}