@use "sass:list";

@use "../../../theming/theming";
@use  "../game-board-styles";

%tile-cell__content {
  text-align : center;
  width      : 100%;
  display    : block;
  font-weight: 700;
  font-size  : 1.1rem;
}

@mixin setNumberContent() {
  @for $number from 1 through 8 {
    &.tile-cell__content--#{$number} {
      &::after {
        content : "#{$number}";
        @extend %tile-cell__content;
      }
    }
  }
}

@mixin setNumberContentColors($theme) {
  @for $i from 1 through 8 {
    &.tile-cell__content--#{$i} {
      color: theming.getThemeColor($theme, "game-type-#{$i}");
    }
  }
}

@mixin setMineTypeIcons() {
  $mine-types: "bomb", "bahai", "virus";

  @each $type in $mine-types {
    .game-board--#{$type} {
      .tile-cell.tile-cell__content--mine {
        &::after {
          @extend .icon-#{$type};
          font-size  : 1.1rem;
          line-height: 20px;
        }
      }
    }
  }
}




.tile-cell {
  @include rectangle(22px);
  position: relative;
  overflow: hidden;
  border  : 1px solid;
  @include setNumberContent();
  cursor    : pointer;
}




.tile-cell-btn {
  @include rectangle(22px);
  position: absolute;
  top     : 0;
  left    : 0;
  outline   : none;
  border    : none;
  cursor    : pointer;
  overflow  : hidden;
  text-align: center;

  // background-color: #d9d9d9;
  // color           : #333333;
  &:disabled {
    // cursor: not-allowed;
    // opacity: 0.5;
  }

}



.tile-cell-btn--active {
  border: 2px solid transparent !important;
}







@include setMineTypeIcons();

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .tile-cell {
    @include setNumberContentColors("light");
    border-color: theming.getThemeColor("light", "board-grid");
  }


  .tile-cell-btn {
    @include game-board-styles.applyThemeBoardButtonStyle("light");

    &:disabled {
      // background-color: red;
    }


  }


}

.theme-dark {
  .tile-cell {
    @include setNumberContentColors("dark");
    border-color: theming.getThemeColor("dark", "board-grid");
  }

  .tile-cell-btn {
    @include game-board-styles.applyThemeBoardButtonStyle("dark");

    &:disabled {
      // background-color: red;
    }


  }



}