@use "sass:list";
@use "../../theming/theming";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin setMenuIconThemeStyles($theme) {
    $background: theming.getThemeColor($theme, "theme-primary");
    $color     : theming.getThemeColor($theme, "theme-secondary");
    @include theming.setBoxTheming($background, $color);
}

@mixin setMenuThemeStyles($theme) {
    .menu-item {
        @include theming.setThemeCard($theme);
        @include theming.setThemeBoxShadow($theme);
        &:hover, &:focus {
            color: theming.getThemeColor($theme, "theme-primary-intense");
            border-color: theming.getThemeColor($theme, "theme-primary-intense");
            >.menu-item-icon {
                background-color: theming.getThemeColor($theme, "theme-primary-intense");
            }
        }
    }

    .menu-item-icon {
        @include setMenuIconThemeStyles($theme);
    }
}
