@use "./menu-theming";
$menu-content-height: 65px;

.menu-item {
  @extend %start-center;
  max-width: 300px;
  margin-bottom: 30px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.menu-item-icon {
  @include circle($menu-content-height);
  line-height: 60px;
  text-align: center;
  margin-right: 12px;
  position: relative;

  &.menu-item-icon--online {
    font-size: 38px;
    &::after {
      position: absolute;
      top: 3px;
      @extend .icon-online;
    }
  }

  &.menu-item-icon--original {
    font-size: 38px;
    &::after {
      position: absolute;
      top: 3px;
      left: 1px;
      @extend .icon-original;
    }
  }

  &.menu-item-icon--bot {
    font-size: 34px;
    &::after {
      top: 0px;
      position: absolute;
      @extend .icon-bot;
    }
  }

  &.menu-item-icon--friend {
    font-size: 33px;
    &::after {
      top: 2px;
      position: absolute;
      @extend .icon-friend;
    }
  }
}

.menu-item-content {
  @extend %start-center;
  flex-direction: column;
  width: 100%;
  height: $menu-content-height;
  padding: 2px 0;

  > h2 {
    @extend ._menu-item-title;
  }

  > p {
    @extend ._menu-item-details;
  }
}

._menu-item-title {
  width: 100%;
}

._menu-item-details {
  @extend %start-center;
  flex-grow: 1;
  width: 100%;
  font-style: italic;

  > .span {
    display: inline-block;
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.theme-light {
  @include menu-theming.setMenuThemeStyles("light");
}

.theme-dark {
  @include menu-theming.setMenuThemeStyles("dark");
}
