@use "sass:list";
@use "./menu-theming";

$menu-icons: "online", "bot", "friend", "original";
$menu-content-height: 65px;

.menu-item {
  @extend %start-center;
  max-width: 300px;
  margin-bottom: 30px;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.menu-item-icon {
  @include rectangle($menu-content-height);
  line-height: 60px;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  margin-right: 8px;
  @include setIdentifierIcons("&.menu-item-icon", $menu-icons);

  &.menu-item-icon--online {
    font-size: 42px;
  }

  &.menu-item-icon--original {
    line-height: 62px;
  }

  &.menu-item-icon--bot {
    line-height: 57px;
  }
}

.menu-item-content {
  @extend %start-center;
  flex-direction: column;
  width: 100%;
  height: $menu-content-height;
  padding: 2px 0;

  > h2 {
    @extend ._menu-item-title;
  }

  > p {
    @extend ._menu-item-details;
  }
}

._menu-item-title {
  width: 100%;
}

._menu-item-details {
  @extend %start-center;
  flex-grow: 1;
  width: 100%;
  font-style: italic;

  > .span {
    display: inline-block;
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.theme-light {
  @include menu-theming.setMenuThemeStyles("light");
}

.theme-dark {
  @include menu-theming.setMenuThemeStyles("dark");
}
