@use "./tile-button-theming";
@import "../../../board-button/board-button";

.tile-button {
  @extend ._board-button;
  @include rectangle(22px);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  outline: none;
}

.tile-button.tile-button--flagged {
  &::before {
    @extend .icon-flag;
    line-height: 19px;
  }
}

.tile-button.tile-button--marked {
  &::before {
    @extend .icon-question-mark;
    line-height: 19px;
  }
}

._double-strategy-primary-icon {
  &::before {
    font-size: 10px;
    position: absolute;
    top: -3px;
    left: -3px;
  }
}

._double-strategy-secondary-icon {
  font-size: 10px;
      position: absolute;
      bottom: 2px;
      right: -4px;
      z-index: 5;
}

.tile-button.tile-button-double-strategy {

  &.tile-button--flagged {
    @extend ._double-strategy-primary-icon;
  }

  &.tile-button--marked {
    @extend ._double-strategy-primary-icon;
  }

  &.tile-button--double-strategy-flag {
    &::after {
      @extend .icon-flag;
      @extend ._double-strategy-secondary-icon;
    }
  }

  &.tile-button--double-strategy-mark {
    &::after {
      @extend .icon-question-mark;
      @extend ._double-strategy-secondary-icon;
    }
  }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include tile-button-theming.setTheming();
