@use "./tile-button-theming";
@import "../../../board-button/board-button";

._wrong-flag-hint {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  content: "";
  @include circle(4px);
}

.tile-button {
  @extend ._board-button;
  @include rectangle(22px);
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  // border-width: 1px!important;

  &.tile-button--flagged {
    &::before {
      @extend .icon-flag;
      line-height: 19px;
    }
  }

  &.tile-button--wrongly-flagged {
    &::after {
      @extend ._wrong-flag-hint;
    }
  }

  &.tile-button--marked {
    &::after {
      @extend .icon-question-mark;
      line-height: 19px;
    }
  }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include tile-button-theming.setTheming();
