@use "sass:list";
@use "../../../../../theming/theming";


@mixin setThemeStyles($theme) {
  .tile-button {
    @include theming.applyGameColorsStyle(
      $theme,
      "&.tile-button-color",
      "color"
    );

    &.tile-button--active {
      background-color: theming.getThemeColor($theme, "board-background");
    }

    &.tile-button--revealed {
      background-color: rgba(
        theming.getThemeColor($theme, "board-button-background"),
        0.5
      );
    }

    &.tile-button--flagged {
      &::before {
        @include theming.setTextShadow($theme);
      }
    }

    &.tile-button--marked {
      &::after {
        @include theming.setTextShadow($theme);
      }
    }
  }

  ._wrong-flag-hint {
    color: theming.getThemeColor($theme, "error-primary");
    @include theming.setTextShadow($theme);
  }
}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}