%first-axis-center {
  justify-content: center;
}

%first-axis-start {
  justify-content: flex-start;
}

%first-axis-end {
  justify-content: flex-end;
}

%first-axis-between {
  justify-content: space-between;
}

%first-axis-evenly {
  justify-content: space-evenly;
}