@use "../game-board-styles";
@use "../../../theming/theming";
@use "./board-actions-theming";
@import "../../../components/button/button";

.board-actions {
  @extend ._board-section;
  @extend %evenly-center;
}

.board-action-btn {
  @extend .btn-icon;
  height: 30px;
  min-width: 30px;
  flex-grow: 1;
  font-size: 1.3rem;
  border-width: 2px;

  &::after {
    width: 30px;
    border: 1px solid transparent;
  }
}

.btn-icon--exit-game {
  @include afterIcon("home");
}

.btn-icon--restart-game {
  position: relative;

  &:before {
    width: 30px;
    @extend .icon-redo;
  }

  &:after {
    @extend .icon-play;
    position: absolute;
    left: 0;
    font-size: 0.4rem;
    top: 10px;
    width: 100%;
  }
}

.btn-icon--reset-game {
  @include afterIcon("sliders");
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include board-actions-theming.setTheming();
