@import "../board-section/board-section";
@import "../board-action-button/board-action-button";

.board-actions {
  @extend ._board-section;
  @extend %evenly-center;
}

.btn-icon--exit-game {
  @include afterIcon("home");
}

.btn-icon--restart-game {
  position: relative;

  &:before {
    width: 30px;
    @extend .icon-redo;
  }

  &:after {
    @extend .icon-play;
    position: absolute;
    left: 0;
    font-size: 0.4rem;
    top: 10px;
    width: 100%;
  }
}

.btn-icon--reset-game {
  @include afterIcon("sliders");
}
