
@use "sass:list";
@use "../game-board-styles";
@use "../../../theming/theming";



@mixin setThemeStyles($theme) {
  .board-action-btn {
    color: theming.getThemeColor($theme, "theme-primary");
    @include game-board-styles.boardBorders($theme);
    background-color: theming.getThemeColor($theme, "board-button-background");

    &:hover,
    &:focus {
      color: theming.getThemeColor($theme, "theme-primary-intense");
    }
  }
}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}
