@use "../../theming/theming";
@import "./input";
@import "../input-error/input-error";

.number-input-container {
    width   : 100%;
    position: relative;
    width: 54px;
    min-width: 54px;
    max-width: 54px;
}

.number-input {
    @extend .input;
    width       : 100%;
    user-select     : none;
}

.number-input-controls {
    position        : absolute;
    right           : 0;
    top             : 4px;
    z-index         : 100;
    width           : 18px;
    padding-left    : 4px;
    background-color: inherit;
    @extend %start-center;
    flex-direction: column;
}

.number-input-control-btn {
    width      : 100%;
    height     : 11px;
    font-size  : 10px;
    line-height: 9px;

    &.number-input-control-btn--up {
        border-top-right-radius: 5px;
        border-top-left-radius : 5px;
        margin-bottom          : 1px;
        @include afterIcon("caret-up");
    }

    &.number-input-control-btn--down {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius : 5px;
        @include afterIcon("caret-down");
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .number-input-controls {
        @include theming.setThemeCard("light");
    }
}

.theme-dark {
    .number-input-controls {
        @include theming.setThemeCard("dark");
    }
}
