@use "sass:list";
@use "../../theming/theming";

@mixin setThemeStyles($theme) {
  .game-option-explanation--unchecked {
    color: theming.getThemeColor($theme, "error-primary");
  }

  .game-option-explanation--checked {
    color: theming.getThemeColor($theme, "success-primary");
  }

  .game-option-explanation-table {
    tbody > tr:nth-child(even) {
      background-color: theming.getThemeColor(
        $theme,
        "table-background-highlight"
      );
    }
  }
}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}
