@use "./game-option-explanation-theming";
@import "../../global/typography/typography";
@import "../table/table";

.__game-option-explanation_icon {
  height: 15px;
  display: inline-block;
}

.__game-option-table-cell {
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

.game-option-explanation-table {
  width: 100%;
  tbody > tr > th {
    text-transform: capitalize;
    @extend .__game-option-table-cell;
    padding-left: 0px;
    padding-right: 10px;
  }

  tbody > tr > td {
    @extend .__game-option-table-cell;
    padding-left: 10px;
    padding-right: 0px;
  }
  
}

.game-option-explanation--unchecked {
  width: 13px;
  @extend .__game-option-explanation_icon;
  @include afterIcon("x");
}

.game-option-explanation--checked {
  width: 16px;
  @extend .__game-option-explanation_icon;
  @include afterIcon("check");
}

.game-option-explanation-level {
  @extend %capitalize-first-letter;
}

.game-option-explanation-vs-mode {
  text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include game-option-explanation-theming.setTheming();
