@mixin rectangle($size) {
	width     : $size;
	height    : $size;
	min-width : $size;
	max-width : $size;
	min-height: $size;
	max-height: $size;
}

@mixin circle($size) {
	@include rectangle($size);
	border-radius: 50%;
}

@mixin pseudoIsoscelesTriangle($base, $height, $color: "transparent") {
	content      : "";
	width        : 0;
	height       : 0;
	border-left  : #{$base}px solid transparent;
	border-right : #{$base}px solid transparent;
	border-bottom: #{$height}px solid $color;
}

@mixin pseudoCircle($size, $color: "transparent") {
	content         : "";
	width           : #{$size}px;
	height          : #{$size}px;
	border-radius   : 50%;
	background-color: $color;
}

@mixin fullyRoundedBar($size) {
	width        : #{$size}px;
	border-radius: #{$size}px;
}
