@use "sass:map";
$dark     : (
    base: #1a1a1a,
    primary: #000000,
    base-font: #f2f2f2,
    base-intense: #000000,
    primary-dark: #000000,
    line: #bfbfbf,
    line-light: #e6e6e6,
    error-intense: #ff0000,
    error-subtle: #e60000,
    error-pale: #ff9999,
    // game colors
    game-type-1: #4040e2,
    game-type-2: #009900,
    game-type-3: #ff6600,
    game-type-4: #ff0000,
    game-type-5: #9900cc,
    game-type-6: #ff0000,
    game-type-7: #e6b800,
    game-type-8: #1a1a1a,
);