@use 'sass:map';

$base      : #262626;
$base-font : #bfbfbf;
$primary   : #000000;

$dark: (app-background: $base,
    app-color: $base-font,
    // primary-intense: #000000,
    //header
    header-background: $primary,
    header-color: $base-font,
    //loader
    loader-background: $base,
    loader-stroke: $base-font,
    //card
    card-background: $primary,
    card-color: #bfbfbf,
    card-border-color: transparent,
    //input
    input-border: #595959,
    input-border-focused: #e6e6e6,
    //button
    button-background: #595959,
    button-color: #1a1a1a,
    button-background-focused: #d9d9d9,
    button-color-focused: #000000,
    //button header
    button-header-color: #bfbfbf,
    button-header-color-focused: #f2f2f2,
);