@use "sass:map";
$default: (
    base: #f2f2f2,
    primary: #262626,
    base-font: #1a1a1a,
    base-intense: #ffffff,
    primary-dark: #000000,
    line: #bfbfbf,
    line-light: #e6e6e6,
    error-intense: #ff0000,
    error-subtle: #e60000,
    error-pale: #ff9999,
);
