@use 'sass:map';

$base         : #f2f2f2;
$base-font    : #262626;
$base-intense : #ffffff;
$primary      : #262626;
$primary-intense      : #000000;

$line: #bfbfbf;
$line-light: #e6e6e6;

$light: (
    app-background: $base,
    app-color: $base-font,
    //header
    header-background: $primary,
    header-color: $base,
    //loader
    loader-background: $base,
    loader-stroke: $primary,
    //card
    card-background: $base-intense,
    card-color: $base-font,
    card-border-color: $line-light,
    //input
    input-border: $line,
    input-border-focused: $primary,
    //button
    button-background: $primary,
    button-color: $line-light,
    button-background-focused: $primary-intense,
    button-color-focused: $base-intense,
    //button header
    button-header-color: #d9d9d9,
    button-header-color-focused: #ffffff,
   //switcher
   switcher-background-on: $primary,
   switcher-background-off: #b3b3b3,
   switcher-circle: #f2f2f2,
);