@use "sass:map";

@import './dark';
@import './light';
@import './error';

$themes: (
    light: $light,
    dark: $dark
);

@function getColor($color, $scheme: light) {
    @return map-get(map-get($themes, $scheme), $color);
}

@function getLightThemeColor($color) {
    @return map-get($light, $color);
}

@function getDarkThemeColor($color) {
    @return map-get($dark, $color);
}


@function getErrorColor($color) {
    @return map-get($error, $color);
}