

.person-icon {
  @extend %center-center;
  position : absolute;
  overflow : hidden;
  font-size: 2.7rem;


  &::after {
    @include circle(60px);
    line-height: 58px;
  }

  &.person-icon--bot {

    @include afterIcon("bot");
  }

  &.person-icon--player {
    &::after {

      @extend .icon-user;
    }
  }


  color: #ffffff;
}