
@use "sass:list";
@use "../../../theming/theming";
@use "../game-board-utils";


@mixin setThemeStyles($theme) {
  ._board-button {
    @include game-board-utils.applyThemeBoardButtonStyle($theme);
    color: theming.getThemeColor($theme, "theme-primary");
    background-color: theming.getThemeColor($theme, "board-button-background");
    &:hover,
    &:focus {
      color: theming.getThemeColor($theme, "theme-primary-intense");
    }
  }
}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}
