@use "../game-board-styles";

@import "../dashboard-face-icon/dashboard-face-icon";
@import "../digital-counter/digital-counter";


.dashboard {
  @extend ._board-section;
  @extend %between-center;
  padding: 5px;

  .dashboard__time-counter, .dashboard__mine-counter {
    @extend ._board-button;
    min-height: 30px;
    height: 100%;
  }
}
