@use "sass:color";
@use "../../../theming/theming";

@mixin setButtonThemeStyles($theme) {
  .game-wizard-navigation-step__button {
    background-color: theming.getThemeColor($theme, "wizard-step-background");
    color: theming.getThemeColor($theme, "wizard-step-color");
    border: 2px solid theming.getThemeColor($theme, "theme-secondary-intense");

    &::before {
      background-color: theming.getThemeColor($theme, "wizard-step-background");
    }
  }
}

@mixin setCompletedButtonThemeStyles($theme) {
  .game-wizard-navigation-step__button {
    background-color: theming.getThemeColor($theme, "wizard-step-completed-background");
    color: theming.getThemeColor($theme, "wizard-step-completed-color");
    &::before {
      background-color: theming.getThemeColor($theme, "wizard-step-completed-background");
    }
  }
}

@mixin setSelectedButtonThemeStyles($theme) {
  .game-wizard-navigation-step__button {
    $color:theming.getThemeColor($theme, "wizard-step-selected-color");
    background-color: theming.getThemeColor($theme, "wizard-step-selected-background");
    color: $color;
    box-shadow: 0px 0px 5px 0px $color inset;
  }
}

@mixin setLabelThemeStyles($theme) {
  $color: theming.getThemeColor($theme, "wizard-step-color");
  @if $theme == dark {
    $color: theming.getThemeColor($theme, "wizard-step-background");
  } 
  .game-wizard-navigation-step__label {
    color: $color;
  }
}

@mixin setCompletedLabelThemeStyles($theme) {
  .game-wizard-navigation-step__label {
    color: theming.getThemeColor($theme, "wizard-step-completed-background");
  }
}

@mixin setSelectedLabelThemeStyles($theme) {
  .game-wizard-navigation-step__label {
    color: theming.getThemeColor($theme, "wizard-step-selected-background");
  }
}

@mixin setThemeStyles($theme) {
  @include setButtonThemeStyles($theme);
  @include setLabelThemeStyles($theme);

  .game-wizard-navigation-step {
    height: 100%;
    width: 50px;

    &.completed {
      @include setCompletedButtonThemeStyles($theme);
      @include setCompletedLabelThemeStyles($theme);
    }
  
    &.selected {
      @include setSelectedButtonThemeStyles($theme);
      @include setSelectedLabelThemeStyles($theme);
    }

  }

}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}
