@use "sass:map";

$theme-pallete: (
	theme-base: #1a1a1a,
	theme-primary: #00cccc,
	theme-primary-intense: #00ffff,
	theme-primary-subtle: #009999,
	theme-secondary: #1a1a1a,
	theme-secondary-intense: #0d0d0d,
	theme-secondary-subtle: #c0c0c0
);

$game-pallete: (
	game-type-1: #00ffff,
	game-type-2: #00ff00,
	game-type-3: #ff3333,
	game-type-4: #ff8300,
	game-type-5: #ffff00,
	game-type-6: #b84dff,
	game-type-7: #ff00bf,
  game-type-8: #ffffff,
  board-background: #0d0d0d,
  board-color: #d9d9d9,
  board-grid: #1a1a1a,
  board-grid-light: #262626,
  board-grid-dark: #000000,
  board-button-background: #0d0d0d,
  board-button-color: #d9d9d9,
);
