@use "sass:map";

$pallete: (
  error-primary: #ff0000,
	error-primary-contrast: #ffffff,
	error-secondary: #e60000,
	error-secondary-contrast: #f2f2f2,
	error-pale: #ff9999,
	error-pale-contrast: #0d0d0d,
);
