@use 'sass:map';
@use 'sass:list';

$game-palette: (
  type-1: #005ce6,
  type-2: #009900,
  type-3: #ff0000,
  type-4: #ff6600,
  type-5: #b3b300,
  type-6: #9900cc,
  type-7: #ff00bf,
  type-8: #1a1a1a,
);
