@use "sass:map";

$theme-pallete: (
  theme-base: #e6e6e6,
  theme-primary: #1a1a1a,
  theme-primary-intense: #000000,
  theme-primary-subtle: #4d4d4d,
  theme-secondary: #f2f2f2,
  theme-secondary-intense: #ffffff,
  theme-secondary-subtle: #c0c0c0
);

$game-pallete: (
  game-type-1: #0039e6,
  game-type-2: #009900,
  game-type-3: #ff0000,
  game-type-4: #ff6600,
  game-type-5: #b3b300,
  game-type-6: #9900cc,
  game-type-7: #ff00bf,
  game-type-8: #1a1a1a,
  board-background: #d9d9d9,
  board-color: #1a1a1a,
  board-grid: #bfbfbf,
  board-grid-light: #f2f2f2,
  board-grid-dark: #a6a6a6,
  board-button-background: #d9d9d9,
  board-button-color: #333333,
  dashboard-icon-background: #ffff00,
  dashboard-icon-color: #0d0d0d,
  dashboard-icon-user-background: #ffffff,
  digit-off: #660000,
  digit-on: #ff0000,
  digit-background: #330000,
);