
@import "../../../../components/loaders/icon-loader/icon-loader";

.mine-field-freezer {
  @extend %center-center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: getIndex("minefield-freezer");
  cursor: not-allowed;
  overflow: hidden;

  .icon-loader {
    font-size: 6rem;
  }
}
