@import '../../../../theme/variables';
@import '../../../../theme/mixins';
@import '../../../../theme/iconography/iconography.scss';

.form-username-icon {
    @include rectangle($input-size);
    line-height: 27px;
    font-size: 24px;
    margin-right: 5px;

    &:after {
        @extend .icon-user;
    }
}