@use "sass:map";

$pallete: (
  success-primary: #00cc00,
  success-primary-contrast: #000000,
  success-secondary: #009900,
  success-secondary-contrast: #f2f2f2,
  success-pale: #99ff99,
  success-pale-contrast: #0d0d0d,
);
