@use "sass:map";

$pallete: (
  warning-primary: #ff6600,
  warning-primary-contrast: #ffffff,
  warning-secondary: #e65c00,
  warning-secondary-contrast: #f2f2f2,
  warning-pale: #ffa366,
  warning-pale-contrast: #0d0d0d,
);
