@use 'styles/utils/flexbox/flexbox';

.dropdown-select-list {
  //   border: 1px solid red;
  list-style-type: none;
  width: 100%;
  // height: 0px;
  // position: absolute;
  // top: 0px;
  //

  // border-bottom-left-radius: 3px;
  // border-bottom-right-radius: 3px;
  // transition: height 0.5s;
  // z-index: 3;
  // outline: none;
  // overflow-x: hidden;
  // overflow-y: auto;
  // max-height: 40px;
}

.dropdown-select-list-item {
  //background-color: yellow;
  height: 34px;
  cursor: pointer;
  text-transform: capitalize;
  //   border-bottom: 1px solid red;
  @extend %flex-start-center;
  width: 100%;
  padding: 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: grey;
  &:last-of-type {
    border-bottom-color: transparent !important;
  }

  > span {
    display: block;
  }
}

.dropdown-select-list-item[aria-selected="true"] {
  @extend .dropdown-select-list-item--selected;
}

.dropdown-select-list-item--selected {
    background-color: #404040;
    color: #fff;
}