@use 'styles/iconography/iconography';
@use 'styles/utils/flexbox/flexbox';
@use 'styles/game/board-utils';
@use 'styles/theming/theming';

@mixin setFlagIcons() {
  $flag-types: "basic", "checkered", "outline", "awesome";
  @each $type in $flag-types {
    @include setFlagIcon($type);
  }
}

@mixin setFlagIcon($type) {
  .flags-counter__flag--#{$type} {
    &::after {
      @extend .icon-flag-#{$type};
    }
  }
}

@mixin setFlagColors($theme) {
  $game-colors: theming.getThemePallette($theme, "game-colors");
  @each $type, $color in $game-colors {
    .flags-counter__flag--#{$type} {
      color: $color;
    }
  }
}

app-flags-counter {
  @extend %flex-start-center;
  width: fit-content;

  @include setFlagIcons();
  //TODO: THEMING
  @include setFlagColors("light");

  > app-digital-counter {
    @extend ._board-section-borders;
    border-radius: 5px;
    padding: 2px 4px;
  }
}

.flags-counter-icon {
  height: 46px;
  width: 46px;
  overflow: hidden;
  @extend %flex-center-center;
  position: relative;
  //TODO: THEMING
  background-color: #f2f2f2;
  border-radius: 5px;
  @extend ._board-section-borders;
}

._vs-flag {
  font-size: 18px;
  height: 22px;
}

.flags-counter__flag {
  display: inline-block;
  text-align: center;
  height: 28px;
  font-size: 24px;

  &.flags-counter__flag--1 {
    @extend ._vs-flag;
    margin-right: 2px;
    transform: rotate(-20deg) scaleX(-1);
  }
  &.flags-counter__flag--2 {
    @extend ._vs-flag;
    transform: rotate(20deg);
  }
}
