@use "../../theming/theming";

@import "../game-player-card/game-player-card";
@import "../vs-board/vs-board";

.vs-dashboard__area {
  width: 100%;
  @extend %center-end;
  padding-bottom: 30px;
}

.vs-dashboard__player {
  @extend %center-center;
  width: 320px;
  height: 95px;
}
