@use "./card-utils-theming";

$card-size: 220;

._card-circle-border {
  border-width: 2px;
  border-style: solid;
}

._player-card-circle {
  position: absolute;
  z-index: 2;
  border-style: solid;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include card-utils-theming.setTheming();
