@use '../../utils/flexbox/flexbox';

.card {
  padding: 15px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  >.title {
    padding-bottom: 15px;
  }
}

// TODO THEMING
.card {
  background-color: #fff;
  color: #1a1a1a;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
