@import "./game-wizard-navigation-step/game-wizard-navigation-step";
@import "./game-wizard-navigation-timeline-bar/game-wizard-navigation-timeline-bar";

.game-wizard__navigation {
  overflow: hidden;
  position: relative;
  height: 65px;
  margin-top: 25px;
  width: 0px;
}

.game-wizard__navigation--expanded {
  width: 0%;
  @include expandWidth(.5);
}

.game-wizard-navigation__steps {
  width: 100%;
  min-width: 330px;
  @extend %between-center;
  position: relative;
}
