@use 'styles/utils/flexbox/flexbox';
@use 'styles/game/flag-icons';
@use 'styles/theming/theming';

@mixin setColors($theme) {
  $game-colors: theming.getThemePallette($theme, "game-colors");
  @each $type, $color in $game-colors {
    &[color-type="#{$type}"] {
      color: $color;
    }
  }
}

app-placed-flags {
  position: relative;
  @extend %flex-center-center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 4px;
  background-color: inherit;
  //TODO: THEMING
  @include setColors("light");
  @include flag-icons.setFlagTypeIcons();
}

.placed-flags__number {
  position: absolute;
  bottom: -8px;
  font-weight: 900;
  padding: 0 4px;
  font-size: 14px;
  line-height: 14px;
  //TODO: THEMING
  background-color: #fff;
  color: #33cc00;
  text-shadow: 0px 0px 1px #999999;
  &.placed-flags__number--0 {
      color: #ff0000;
  }
  &.placed-flags__number--1 {
    color: #ff6600;
}
}

.placed-flags__infinite {
  font-size: 20px;
  height: 14px;
  line-height: 12px;
  // TODO: THEMING
  color: #999999;
}
