@use 'styles/iconography/iconography';
@use 'styles/utils/flexbox/flexbox';
@use 'styles/game/board-utils';
@use 'styles/theming/theming';

@mixin setThemeColors($theme) {
  $game-colors: theming.getThemePallette($theme, 'game-colors');

  @each $type, $color in $game-colors {
    &[color_type='#{$type}'] {
      color: $color;
    }
  }
}

// @mixin setTheming() {
//   $themes: 'light', 'dark';

//   @each $theme in $themes {
//     .theme-#{$theme} {
//       @include setThemeColors($theme);
//     }
//   }
// }

app-game-timer {
  @extend %flex-start-center;
  width: fit-content;

  > app-digital-timer {
    @extend ._board-section-borders;
    border-radius: 5px;
    padding: 2px 4px;
  }

  // TODO: THEMING
  color: #330000;
  @include setThemeColors('light');

}

.game-timer-icon {
  @extend %flex-center-center;
  height: 46px;
  width: 46px;
  font-size: 1.8em;
  overflow: hidden;
  @include iconography.afterIcon('stopwatch');
  border-radius: 5px;
  border-right: 0px;
  padding: 0 8px;
  @extend ._board-section-borders;

  // TODO: THEMING
  background-color: #f2f2f2;
}
