@import "../../../components/table/table";
@import "../../../components/scrollbar/scrollbar";
@import "../board-section/board-section";
@import "./tile/tile";
@import "./minefield-freezer/minefield-freezer";

.mine-field {
  @extend ._board-section;
  position: relative;
  max-height: 65vh;
  overflow: auto;
  @extend ._scrollbar;
}
