@import '../../../../theme/utilities';
@import '../../../../theme/color-scheme/color-scheme.scss';

.switcher {
    width        : 34px;
    height       : 16px;
    border-radius: 40px;
    border       : none;
    outline      : none;
    cursor       : pointer;
    position     : relative;

    &:disabled {
        @extend .disabled;
    }

    &::after {
        content      : '';
        width        : 10px;
        height       : 10px;
        position     : absolute;
        border-radius: 50%;
        top          : 3px;
        transition   : .3s linear;
    }
}

[role='switch'][aria-checked='false']::after {
    left: 3px;
}

[role='switch'][aria-checked='true']::after {
    left: 21px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .switcher::after {
        background-color: getLightThemeColor(switcher-circle);
    }
    
    [role='switch'][aria-checked='false'] {
        background-color: getLightThemeColor(switcher-background-off);
    }
    
    [role='switch'][aria-checked='true'] {
        background-color: getLightThemeColor(switcher-background-on);
    }
}

.theme-dark {
    .switcher::after {
        background-color: getDarkThemeColor(switcher-circle);
    }
    
    [role='switch'][aria-checked='false'] {
        background-color: getDarkThemeColor(switcher-background-off);
    }
    
    [role='switch'][aria-checked='true'] {
        background-color: getDarkThemeColor(switcher-background-on);
    }
}