@use 'styles/utils/flexbox/flexbox';
@use 'styles/utils/shapes';
@import "styles/iconography/iconography";

@import "../../../styles/components/card/card";
@import "../../../styles/utils/animations/animations";

.add-username {
  @extend .card;
  min-width: 300px;
  //max-width: 500px;
  @include slideIn(0.8);
}

form {
  margin-top: 30px;
  padding: 0 5px;
  // width: 300px;

  .app-text-input__input {
    &::before {
      @extend .icon-user;
    }
  }

  .form-buttons {
    margin-top: 30px;
    @extend %flex-between-center;

    >.button-text {
      min-width: 80px;
    }
  }
}
