@use "../theming/theming";

@import "../global/_module-global";
@import "../utils/_module-utils";

@import "../game/minesweeper-board/minesweeper-board";

@import "../game/vs-dashboard/vs-dashboard";

.gaming-area--parallel {
  width: 100%;
  @extend %center-center;
}

.parallel-game-container {
  @extend %center-center;
  position: relative;
  max-width: 45%;
  &:last-of-type {
    margin-left: 3%;
  }

  .sneak-peek-layer {
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
  }
}

.game-board-container {
  width: 100%;
  @extend %center-center;
  flex-direction: column;
  margin-bottom: 30px;
}
