@use "../theming/theming";

@import "../global/_module-global";
@import "../utils/_module-utils";

@import "../components/button/button";
@import "../components/game-board/game-board";

@import "../components/game-player-card/game-player-card.scss";



.game-container {
  width : 100%;
  height: 100%;
  @extend %center-center;
  flex-direction: column;

  // background-color: pink;
  // border: 2px solid red;
}