@use "../theming/theming";
@import "../global/_module-global";
@import "../utils/_module-utils";
@import "../components/form/form_username";
@import "../components/loaders/state-loader";

.login-container {
    min-width    : 320px;
    padding      : 15px;
    animation    : slide-in 0.8s ease;
    position     : relative;
    overflow     : hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .login-container {
        @include theming.setThemeCard("light");
        @include theming.setThemeBoxShadow("light");
    }
}

.theme-dark {
    .login-container {
        @include theming.setThemeCard("dark");
        @include theming.setThemeBoxShadow("dark");
    }
}