@use "../themes/theme";
@use "../base/iconography";
@use "../base/sizes";
@use "../base/z-index";


@import "../base/flexbox";
@import "../base/utils";
@import "../abstract/mixins";


@import "../base/typography/typography";


@import "../components/form_username";
@import "../components/state-loader";


.login-container {
    min-width    : 320px;
    padding      : 15px;
    border-radius: 8px;
    animation    : fadein 0.8s ease;
    position     : relative;
    overflow: hidden;
}

@keyframes fadein {
    from {
        opacity    : 0;
        margin-left: -200px;
    }

    to {
        opacity    : 1;
        margin-left: 0px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
    .login-container {
        @include theme.applyTheme("light", "card");
    }
}

.theme-dark {
    .login-container {
        @include theme.applyTheme("dark", "card");
    }
}