@use "./online-users-theming";
@import "../user-avatar/user-avatar";
@import "../scrollbar/scrollbar";

.online-users-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  @extend ._scrollbar;
  padding: 20px;
}

.online-users-wrapper {
  position: relative;
  @extend %center-center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
}

.online-user-card {
  min-width: 140px;
  min-height: 140px;
  max-width: 140px;
  max-height: 140px;
  position: relative;
  @extend %start-center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;

  > .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    @extend %ellipsis-text;
  }

  @include setAvatarSize(50px, 28px, 48px);
}

.online-user-card--in-game {
  &::after {
    @extend .icon-gamepad;
    position: absolute;
    font-size: 22px;
    width: 26px;
    top: 44px;
    right: 22px;
  }
}

.online-users-message {
  font-weight: 900;
  font-size: 2rem;
  padding: 20px;
  width: 100vw;
  text-align: center;
  font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include online-users-theming.setTheming();
