@use "sass:map";

@use "../abstract/functions";

$app: (background-color: #f2f2f2,
	color: #0d0d0d);

$header: (background-color: #0d0d0d,
	color: #f2f2f2);

$shadow: (box-shadow: functions.shadow(#000000));

$loader: (background-color: #f2f2f2,
	stroke: #0d0d0d);

$card-colors: (background-color: #ffffff,
	color: #0d0d0d);

$card: map.merge($card-colors, $shadow);


$input: (border-color: #8c8c8c,
	color: #8c8c8c);

$input-focused: (border-color: #0d0d0d,
	color: #0d0d0d);

$btn-primary: (background-color: #262626,
	color: #e6e6e6);

$btn-primary-focused: (background-color: #000000,
	color: #ffffff);

$error-primary: (background-color: #ff0000,
	color: #ffffff);


$error-secondary: (background-color: #e60000,
	color: #f2f2f2);

$error-pale: (background-color: #fa8072,
	color: #0d0d0d);

$error-inpt: (border-bottom: 1px solid #ff0000,
	color: #ff0000);



$pallete: (error-primary: #ff0000,
	error-pale: #fa8072,
);

$switcher: (on: #000000,
	off: #cccccc);


$header-btn: (color: #e6e6e6);

$header-btn-focused: (color: #ffffff);


$dropdown-select-option-focused: (background-color: #1a1a1a,
	color : #f2f2f2);
$dropdown-select-option-selected: (background-color: #ccc,
	color : #1a1a1a);

$dropdown-select-option: (border-bottom: 1px solid #ccc);


$theme: (pallete: $pallete,
	app: $app,
	header: $header,
	shadow: $shadow,
	loader: $loader,
	card: $card,
	card-colors: $card-colors,
	input: $input,
	input-focused: $input-focused,
	btn-primary: $btn-primary,
	btn-primary-focused: $btn-primary-focused,
	error-primary: $error-primary,
	error-secondary: $error-secondary,
	error-pale: $error-pale,
	error-inpt: $error-inpt,
	switcher: $switcher,
	header-btn: $header-btn,
	header-btn-focused: $header-btn-focused,
	dropdown-select-option: $dropdown-select-option,
	dropdown-select-option-selected: $dropdown-select-option-selected,
	dropdown-select-option-focused: $dropdown-select-option-focused,
);