@use "sass:map";
@use "sass:color";

@use "../abstract/functions";
@use "./theme-utils";
@use "./palletes/error-pallete";


$app-primary : #0d0d0d;

$theme-base    : #f2f2f2;
$theme-primary : #1a1a1a;

$theme-base-intense   : #ffffff;
$theme-primary-intense: #000000;
$theme-primary-subtle : #4d4d4d;



$app : theme-utils.generateBoxTheming($theme-base, $app-primary);
$loader: theme-utils.generateLoaderTheming($theme-base, $app-primary);

$shadow: (box-shadow: functions.shadow($theme-primary-intense));

$card-colors: theme-utils.generateBoxTheming($theme-base-intense, $theme-primary);
$card       : map.merge($card-colors, $shadow);

$input-focused: theme-utils.generateInputTheming($theme-primary-intense);
$input        : theme-utils.generateInputTheming($theme-primary-subtle);



$dropdown-select-option-focused : theme-utils.generateBoxTheming(#0d0d0d, #fff);
$dropdown-select-option-selected: theme-utils.generateBoxTheming(#cccccc, #1a1a1a);
$dropdown-select-option         : (border-bottom: 1px solid #ccc);

$btn-primary: (
	background-color: #262626,
	color: #e6e6e6
);

$btn-primary-focused: (
	background-color: #000000,
	color: #ffffff
);

$switcher: (on: #000000,
	off: #cccccc);




$pallete: error-pallete.$pallete;



$theme: (pallete: $pallete,
	app: $app,
	shadow: $shadow,
	loader: $loader,
	card: $card,
	card-colors: $card-colors,
	input: $input,
	input-focused: $input-focused,
	btn-primary: $btn-primary,
	btn-primary-focused: $btn-primary-focused,
	switcher: $switcher,
	dropdown-select-option: $dropdown-select-option,
	dropdown-select-option-selected: $dropdown-select-option-selected,
	dropdown-select-option-focused: $dropdown-select-option-focused,
);

$header-theme: theme-utils.generateHeaderTheming($app-primary, $theme-base, $theme-base-intense);
$theme      : map.merge($theme, $header-theme);
$theme      : map.merge($theme, error-pallete.$pallete-theming);

// @debug $theme;
