@use "sass:map";
@use "./light";
@use "./dark";

$_themes: (
    light: light.$theme,
    dark: dark.$theme
);

@function getTheme($key) {
    @return map-get($_themes, $key);
}

@function getThemeProperties($theme, $key) {
    @return map-get(getTheme($theme), $key);
}

@mixin applyStyle($theme-properties) {
	@each $property, $value in $theme-properties {
		#{$property}: $value
	}
}

@mixin applyTheme($theme, $section) {
	$theme-properties: getThemeProperties($theme, $section);
	@include applyStyle($theme-properties);
}

@function getColor($theme, $colorKey) {
	$theme-pallete: getThemeProperties($theme, "pallete");
	@return map-get($theme-pallete, $colorKey);
}


