@use "sass:map";
@use "../abstract/functions";

@function generateBoxTheming($background, $color) {
	$map: (
		background-color: $background,
		color: $color
	);
	@return $map;
}

@function generateInputTheming($color) {
	$map: (
		border-color: $color,
		color: $color
	);
	@return $map;
}

@function generateLoaderTheming($background, $color) {
	$map: (
		background-color: $background,
		stroke: $color
	);
	@return $map;
}

@function generateHeaderTheming($base, $primary, $intense) {
	$map: (
		header: generateBoxTheming($base, $primary),
		header-btn: generateBoxTheming("inherit", $primary),
		header-btn-focused: generateBoxTheming("inherit", $intense),
	);
	@return $map;
}

