@use '../../utils/state';
@use '../../utils/shapes';
@use '../../iconography/iconography';
@use '../../utils/flexbox/flexbox';

$button-height: 32px;



._button {
  cursor: pointer;
  outline: none;
  border: none;
  overflow: hidden;
  text-align: center;

  &:disabled {
    @extend .disabled;
  }
}

.button-text {
  @extend ._button;
  display: inline-block;
  height: $button-height;
  line-height: 34px;
  min-width: $button-height;
  border-radius: 3px;
  position: relative;
  padding: 0 10px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-icon {
  display: inline-block;
  @extend ._button;
  @extend .button--primary;
  @extend %flex-center-center;
  @include shapes.circle($button-height);
  min-width: $button-height;
  min-height: $button-height;
}

.button-icon--close {
  @extend .button-icon;
  &::after {
    @extend .icon-x;
    font-size: 1.4em;
    position: relative;
    top: 2px;
  }
}





// TODO THEMING
.button--primary {
  background-position: center;
  transition: background 0.5s;
  color: #f2f2f2;
  background-color: #4d4d4d;

  &:hover,
  &:focus {
    color: #fff;
    background: #000 radial-gradient(circle, transparent 1%, #000 1%) center/15000%;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  &:active {
    background-color: #b3b3b3;
    background-size: 100%;
    transition: background 0s;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}

// .button-text {
//   box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
//     0 1px 5px 0 rgb(0 0 0 / 12%);

//   &:active {
//     box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
//       0 1px 5px 0 rgb(0 0 0 / 12%);
//   }
// }

// .button-icon {
//   box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 16%),
//     0px 1px 2px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

//   &:active {
//     box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 16%),
//       0px 1px 2px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
//   }
// }
