@mixin expandWidth($duration: 1) {
  animation: expand-in #{$duration}s ease-in;
  animation-fill-mode: forwards;
}

@keyframes expand-in {
  from {
    opacity: 0;
    width: 0%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}