

@mixin slideIn($duration: 1) {
  animation: slide-in #{$duration}s ease-in;
  animation-fill-mode: forwards;
  will-change: transform;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-150vw);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
