@use 'styles/utils/state';
@use 'styles/components/scrollbar/scrollbar';

app-minefield {
  display: block;
  //border: 1px solid green;
  width: 100%;
  height: 100%;
  overflow: auto;

  @extend ._scrollbar;



  &[disabled="true"] {
    .minefield {
      cursor: not-allowed !important;
    }
  }
}

.minefield {
  margin: 0;
  display: block;
  cursor: pointer;
}
