@use 'styles/utils/flexbox/flexbox';
@use 'styles/iconography/iconography';
@use 'styles/utils/animations/animations';
@use 'styles/components/card/card';
// @use 'styles/typography/typography';

.game-wizard {
  max-width: 400px;
  @extend .card;
  will-change: transform, opacity;
  @include animations.slideIn(1);
  position: relative;
  @extend %flex-start-start;
  flex-direction: column;
  .button-icon--close {
    position: absolute;
    right: 20px;
  }

  overflow: hidden;
  height: 180px;
  transition: height 0.5s ease-in-out;
}

.game-wizard--slide-out {
  @include animations.slideOut(1);
}

.game-wizard-header {
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-right: 40px;
  max-width: 300px;
  min-width: 300px;
  word-break: break-all;

  > div {
    display: block;
    flex-grow: 1;
    margin-right: 20px;
    font-size: 1.3rem;
  }

  > i {
    font-size: inherit;
    font-weight: inherit;
  }
}

.game-setting-header:nth-of-type(2) {
  margin-top: 30px;
}

// .game-wizard-buttons-container {
//   margin-top: 30px;
//   border: 1px solid green;
//   @extend %flex-between-center;

//   > .button-text {
//     min-width: 120px;
//   }
// }

.game-wizard-content-vs {
  width: 100%;
}

.game-wizard-vs__settings-container {
  padding: 30px 10px 0;
  flex-grow: 1;
}

.game-wizard-actions {
  margin-top: 30px;
  @extend %flex-between-center;
  > .button-text {
    min-width: 80px;

    &.next {
      &::after {
        @extend .icon-double-right;
        padding-left: 5px;
      }
    }

    &.previous {
      &::before {
        padding-right: 5px;
        @extend .icon-double-left;
      }
    }
  }
}
