@import "../../../../../theme/layouts";
@import "../../../../../theme/elements/button.scss";
@import "../../../../../theme/elements/card.scss";
@import "../../../../../theme/color-scheme/color-scheme.scss";
@import "../../../../../theme/iconography/iconography.scss";

.dropdown-btn {
	@extend .button;
	@extend %start-flexbox;

	background-color: inherit;
	color           : inherit;
	padding         : 2px 2px 2px 2px;
	border-bottom   : 1px solid #ccc;
	height          : 27px;

	>.dropdown-btn-label {
		@extend .capitalize-first-letter;
	}

	>.dropdown-btn-caret {
		margin-left       : 10px;
		height            : 12px;
		line-height       : 11px;
		-webkit-transition: -webkit-transform .3s ease-in-out;
		-ms-transition    : -ms-transform .3s ease-in-out;
		transition        : transform .3s ease-in-out;

		&::after {
			@extend .icon-caret-down;
		}
	}
}

.dropdown-btn[aria-expanded="true"]>.dropdown-btn-caret {
	-webkit-transform: rotate(-180deg);
	-ms-transform    : rotate(-180deg);
	-moz-transform   : rotate(-180deg);
	-o-transform     : rotate(-180deg);
	transform        : rotate(-180deg);
}
