@use "sass:map";
@use "../../theming/theming";
@use "../button/button-theming";

@import "../button/button";

.header {
  @extend %start-center;
  height: 46px;
  width: 100%;
  padding: 0 15px;
}

.header-title {
  font-weight: 500;
  flex-grow: 1;
}

.header-btn {
  @extend .btn-icon;
  @extend .btn-icon--normal;

  background-color: transparent;

  &.header-btn--settings {
    @include afterIcon("settings");
  }

  &.header-btn--logout {
    @include afterIcon("loggout");
  }

  &.header-btn--home {
    @include afterIcon("home");
  }

  &.header-btn--connect {
    @include afterIcon("wifi");
  }


  &.header-btn--invitations {
    @include afterIcon("envelope");
  }

  
}


.header-actions-container {
  position: relative;
  // border: 1px solid red;
  //margin-left: 10px;
  @extend %center-center;

  >.header-btn {
    margin-left: 15px;
  }
}









/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.theme-light {
  .header {
    background: theming.getThemeColor("light", "app-primary");
    color: theming.getThemeColor("light", "theme-secondary");
    @include theming.setThemeBoxShadow("light");
  }

  .header-btn {
    $base: (
      color: theming.getThemeColor("light", "theme-base"),
    );
    $hovered: (
      color: theming.getThemeColor("light", "theme-secondary-intense"),
    );
    @include button-theming.setButtonStyles($base, $hovered);
  }
}

.theme-dark {
  .header {
    background: theming.getThemeColor("dark", "app-primary");
    color: theming.getThemeColor("dark", "theme-primary");
    @include theming.setThemeBoxShadow("dark");
  }

  .header-btn {
    $base: (
      color: theming.getThemeColor("dark", "theme-primary"),
    );
    $hovered: (
      color: theming.getThemeColor("dark", "theme-primary-intense"),
    );
    @include button-theming.setButtonStyles($base, $hovered);
  }
}
