@use "./icon-loader-theming";

.icon-loader-container {
  @extend %center-center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 600;
}

.icon-loader {
  @extend %center-center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 600;

  &::after {
    @extend .icon-spinner;
    animation: spin 1s infinite linear;
  }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include icon-loader-theming.setTheming();
