@use "./online-indicator-theming";
@import "../button/button";

.online-indicator-container {
  background-color: transparent;
  overflow: visible !important;
  position: relative;
  margin-left: 15px;
}

.online-indicator-icon {
  @extend .btn-icon;
  @extend .btn-icon--normal;
  cursor: default !important;
  @include afterIcon("online");
  background-color: inherit;
}

.online-indicator-button {
  @extend .btn-icon;
  @extend .btn-icon--normal;
  background-color: transparent;
  @include afterIcon("online");
}

.online-indicator-peers {
  @extend %ellipsis-text;
  display: block;
  margin: auto;
  width: 28px;
  padding: 0 2px;
  position: absolute;
  top: 25px;
  left: -1px;
  font-size: 9px;
  font-weight: 900;
  line-height: 11px;
  border-radius: 20px;
  background-color: inherit;
  text-align: center;
}

@include online-indicator-theming.setTheming();
