@use "./dashboard-face-icon-theming";
@import "../../board-button/board-button";
@import "../../game-board-flash";

%absolute-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.__face-icon {
  @include circle(22px);
  @extend %absolute-center;
  z-index: 2;
  overflow: hidden;
}

.__face-background {
  @include pseudoCircle(18);
  @extend %absolute-center;
  z-index: 1;
}

.dashboard__face-icon {
  @extend ._board-button;
  border-width: 2px;
  position: relative;
  &::after {
    @extend .__board-flash;
    z-index: 2;
  }
}

.face-icon {
  @include rectangle(28px);
  @extend %center-center;
  font-size: 22px;
  position: relative;
  

  &::before {
    @extend .__face-background;
  }

  &::after {
    @extend .__face-icon;
  }

  @include setFaceIcons("&.face-icon");
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include dashboard-face-icon-theming.setTheming();
