
%flexbox {
    display: flex;
}

%centered-flexbox {
	@extend %flexbox;
    justify-content: center;
    align-items: center;
    align-content: center;
}

%start-flexbox {
	@extend %flexbox;
    justify-content: flex-start;
    align-items: center;
	align-content: center;
}

%start-column-flexbox {
	@extend %flexbox;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
