@mixin rectangle($size) {
    width: $size;
    height: $size;
    min-width: $size;
    max-width: $size;
    min-height: $size;
    max-height: $size;
}

@mixin circle($size) {
    @include rectangle($size);
    border-radius: 50%;
}
