@import './variables';
@import './mixins';
@import './utilities';
@import './color-scheme/color-scheme.scss';
@import './iconography/iconography.scss';

.button {
    cursor  : pointer;
    outline : none;
    display : inline-block;
    border  : none;
    overflow: hidden;
}

.button-text {
    @extend .button;
    font-size    : $font-size-btn;
    border-radius: 5px;
    min-width    : 46px;
    text-align   : center;
    height       : 28px;
    line-height  : 19px;
    padding      : 0 10px;

    &:disabled {
        opacity: 0.5;
        cursor : not-allowed;
    }
}

.button-icon {
    @extend .button;
    @include circle(26px);
    border-radius: 50%;
    font-size    : 21px;
    line-height  : 22px;
}

.button-icon--small {
    @include circle(20px);
    font-size  : 15px;
    line-height: 16px;
}



//  button-icon--settings




.button-icon--close {
    &::after {
        @extend .icon-x;
    }
}
.button-icon--settings {
    &::after {
        @extend .icon-settings;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {
    .button {
        color           : getColor(base);
        background-color: getColor(primary);

        &:hover,
        &:focus {
            background-color: getColor(primary-dark);
        }

        &:disabled {

            &:hover,
            &:focus {
                background-color: getColor(primary);
            }
        }
    }


    .button-icon-header {
        color           : getColor(base-dull);
        background-color: getColor(primary);

        &:hover,
        &:focus {
            background-color: getColor(primary);
            color           : getColor(base-intense);
        }

        &:disabled {

            &:hover,
            &:focus {
                background-color: getColor(primary);
                color           : getColor(base);
            }
        }
    }
}

.app--dark {
    .button {
        color           : getColor(base, dark);
        background-color: getColor(line, dark);

        &:hover,
        &:focus {
            background-color: getColor(line-light, dark);
        }

        &:disabled {

            &:hover,
            &:focus {
                background-color: getColor(line, dark);
            }
        }
    }

    .button-icon-header {}

}