@import "./variables";
@import "./utilities";
@import "./color-scheme/color-scheme.scss";

.button {
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: none;
    overflow: hidden;
}

.button-text {
    @extend .button;
    font-size: $font-size-btn;
    border-radius: 5px;
    min-width: 46px;
    text-align: center;
    height: 28px;
    line-height: 19px;
    padding: 0 10px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {
    .button {
        color: getColor(base);
        &:hover,
        &:focus {
            background-color: getColor(base-intense);
        }
    }

    .button-text {
        background-color: getColor(primary);
        &:hover,
        &:focus {
            background-color: getColor(primary-dark);
        }
        &:disabled {
            &:hover,
            &:focus {
                background-color: getColor(primary);
            }
        }
    }
}

.app--dark {
}
