@import './variables';
@import './utilities';
@import './color-scheme/color-scheme.scss';

.input {
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: inherit;
    font-family: $font-family;
    display: block;
    min-height: $input-size;
    max-height: $input-size;
    padding: 0px 5px;
    color: inherit;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {
    .input {
        border-color: getColor(line);

        &:focus {
            border-color: getColor(primary);
        }

        &:read-only {
            border-color: getColor(line);
            opacity: 0.5;
        }

        &:read-only:focus {
            border-color: getColor(line);
        }
    }
}

.app--dark {
    .input {
        border-color: getColor(line, dark);

        &:focus {
            border-color: getColor(base-font, dark);
        }

        &:read-only {
            border-color: getColor(line, dark);
            opacity: 0.5;
        }

        &:read-only:focus {
            border-color: getColor(line, dark);
        }
    }
}
