@use "sass:list";
@use "../../theming/theming";
@use "./sneak-peek-button-theming";

@import "../game-board/board-actions/board-actions";

.sneak-peek-btn {
  @extend .board-action-btn;
  background: inherit;
}

.sneak-peek-btn-state {
  height: 20px;
  min-width: 30px;
  max-width: 30px;
  position: relative;
  display: block;
  line-height: 21px;

  &.sneak-peek-btn-state--not-peeking {
    &::after {
      @extend .icon-low-vision;
      text-align: left;
      padding-left: 4px;
    }
  }

  &.sneak-peek-btn-state--peeking {
    &::after {
      @extend .icon-peeking;
      font-size: 1.4rem;
      text-align: left;
      padding-left: 2px;
    }
  }
  
}

.sneak-peek-limit {
  font-size: 0.9rem;
  position: absolute;
  font-weight: 900;
  height: 15px;
  line-height: 15px;
  bottom: -3px;
  right: -3px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include sneak-peek-button-theming.setTheming();
