@import "../game-board-flash";
@import "../board-section/board-section";
@import "./digital-counter/digital-counter";
@import "./dashboard-face-icon/dashboard-face-icon";


._dashboard-counter {
  @extend ._board-button;
  height: 34px;
  position: relative;

  &::after {
    @extend .__board-flash;
    z-index: 2;
  }
}

.dashboard {
  @extend ._board-section;
  @extend %between-center;
  padding: 5px;

  .dashboard__time-counter,
  .dashboard__mine-counter {
    @extend ._dashboard-counter;
  }
}
