@import "../../utils/z-index";

#confetti-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: getIndex("confetti");
  display: block;
  pointer-events: none;
}
