@use "../../theming/theming";

@import "./turns-indicator/turns-indicator";





._card-circle-border {
  border-width: 2px;
  border-style: solid;
  border-color: #bfbfbf;
}



@import "./card-icons/card-icons";
@import "./card-state/card-state";



.game-player-card {
  // background-color: yellow;
  width   : 200px;
  height  : 90px;
  position: relative;
  //@extend %start-center;

  margin: 10px;


  &.direction-left {

    .game-player-card__player-section {
      left: -48px;
    }

    .turn-indicator {
      @include setIndicatorsPositions(-1);
      //margin-left: 3px;
    }


    .game-player-card__state-section {
      right: -24px;
    }

    .game-player-card__details-section {
      &::after {
        @extend ._details-background-shape;
        top             : 0px;
        right           : 0px;
        transform       : rotate(-90deg) scaleY(-1);
        transform-origin: top right;
      }
    }


    .game-player-card__player-name {
      left      : 41px;
      text-align: left;
    }
  }





  &.direction-right {
    .game-player-card__player-section {
      right: -48px;
    }

    .turn-indicator {
      @include setIndicatorsPositions(1);
      //margin-right: 3px;
    }

    .game-player-card__state-section {
      left: -24px;
    }

    .game-player-card__details-section {
      &::after {
        @extend ._details-background-shape;
        top             : 0px;
        left            : -90px;
        transform       : rotate(-90deg);
        transform-origin: top right;
      }
    }

    .game-player-card__player-name {
      left      : 26px;
      text-align: right;
    }
  }


}












._player-card-circle {

  position: absolute;

  z-index         : 2;
  background-color: #ffffff;
  border-style    : solid;
  border-color    : #ffffff;

}


.game-player-card__player-section {
  @include circle(90px);
  @extend ._player-card-circle;
  top         : 0px;
  border-width: 2px;

  @extend %center-center;
  overflow: hidden;


  &::after {
    position: absolute;
    @extend %center-start;
    @include circle(74px);
    @extend ._card-circle-border;
    position: absolute;
    content : "";
  }
}








.game-player-card__state-section {
  @include circle(50px);
  @extend ._player-card-circle;
  top         : 20px;
  border-width: 2px;
  @extend %center-center;
  // border-style: dotted;
  // border-color: red;
  //background-color: ivory;
  // background-color: palegoldenrod;
  overflow: hidden;
  padding : 2px;

}





._details-background-shape {
  content : "";
  position: absolute;
  @include pseudoIsoscelesTrapezoid(200, 20);
  display            : block;
  height             : 0;
  width              : 50px;
  border-radius      : 5px;
  border-bottom-color: #ffffff;
}


.game-player-card__details-section {
  position: relative;
  width   : 100%;
  height  : 100%;
}

.game-player-card__player-name {
  position      : absolute;
  // border     : 1px solid red;
  z-index       : 2;
  top           : 22px;
  font-weight   : 600;
  font-size     : 1.2rem;
  width         : 134px;
  @extend %ellipsis-text;
  height     : 22px;
  white-space: nowrap;
}




@mixin applyGameColorsStyle($theme) {
  @for $i from 1 through 8 {
    &.game-player-card__color-type--#{$i} {
      $game-color-type: theming.getThemeColor($theme, "game-type-#{$i}");

      .person-icon {
        &::after {
          background-color: $game-color-type;
        }
      }

      // ._card-circle-border {
      //   border-color: $game-color-type;
      // }

      .state-flag {
        color: $game-color-type;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .game-player-card {
    @include applyGameColorsStyle("light");
  }

}

.theme-dark {
  .game-player-card {
    @include applyGameColorsStyle("dark");
  }

}