.game-player-card {
  // background-color: yellow;
  width   : 200px;
  height  : 90px;
  position: relative;
  //@extend %start-center;

  margin: 10px;
}




._player-card-circle {

  position: absolute;

  z-index         : 2;
  background-color: #ffffff;
  border          : 2px solid #ffffff;
}


.game-player-card__player-instance {
  @include circle(90px);
  @extend ._player-card-circle;
  top: 0px;

  &.direction-left {
    left: -48px;
  }

  &.direction-right {
    right: -48px;
  }
}

.game-player-card__flag-section {
  @include circle(50px);
  @extend ._player-card-circle;
  top: 20px;

  &.direction-left {

    right: -24px;
  }

  &.direction-right {
    left: -24px;
  }
}





._details-background-shape {
  content : "";
  position: absolute;
  @include pseudoIsoscelesTrapezoid(200, 20);
  display            : block;
  height             : 0;
  width              : 50px;
  border-radius      : 5px;
  border-bottom-color: #ffffff;
}



.trapezoid-left {
  &::after {
    @extend ._details-background-shape;
    top             : 0px;
    right           : 0px;
    transform       : rotate(-90deg) scaleY(-1);
    transform-origin: top right;
  }
}

.trapezoid {
  &::after {
    @extend ._details-background-shape;
    top             : 0px;
    left            : -88px;
    transform       : rotate(-90deg);
    transform-origin: top right;
  }
}


.game-player-card__details-section {
  position: relative;
  width   : 100%;
  height  : 100%;


  &.direction-left {
    @extend .trapezoid-left;
  }

  &.direction-right {
    @extend .trapezoid;

  }
}