@use "../../../theming/theming";

@import "./digit";

.digital-counter {
  @extend %center-center;
  width    : 100%;
  height   : 100%;
  min-width: 48px;
  padding  : 3px;
}

.digit {
  width   : 16px;
  height  : 26px;
  position: relative;
}

.digit__line {
  position: absolute;
}

.digit__line--1 {
  @extend %vertical-line;
  @extend ._left__line;
  top: $line-space;
}

.digit__line--6 {
  @extend %vertical-line;
  @extend ._left__line;
  bottom: $line-space;
}

.digit__line--3 {
  @extend %vertical-line;
  @extend ._right__line;
  top: $line-space;
}

.digit__line--4 {
  @extend %vertical-line;
  @extend ._right__line;
  bottom: $line-space;
}

.digit__line--2 {
  top: $line-space;
  @extend ._top__line;
}

.digit__line--5 {
  @extend ._bottom__line;
  bottom: $line-space;
}

.digit__line--7 {
  @extend ._middle__line;
  top: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .digital-counter, .digit {
    background-color: theming.getThemeColor("light", "digit-background");
  }
}

.theme-dark {
  .digital-counter, .digit {
    background-color: theming.getThemeColor("dark", "digit-background");
  }
}