@use "../button/button";
@use "./input-error-theming";

.error-container {
  width: 100%;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: getIndex("input");
}

.error-toggle-btn {
  @extend .btn-icon;
  @include circle(18px);
  @include afterIcon("exclamation");
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 11px;
  line-height: 17px;
}

.error-message {
  @extend %capitalize-first-letter;
  position: absolute;
  right: 0;
  top: 30px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: inherit;
  font-size: 0.9rem;
  font-weight: bold;

  &::after {
    position: absolute;
    right: 4px;
    top: -8px;
  }
}

.error-inpt .text-input {
  padding-right: 23px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  @include input-error-theming.applyInputErrorThemeStyles("light");
}

.theme-dark {
  @include input-error-theming.applyInputErrorThemeStyles("dark");
}
