@use "sass:list";

.icon-smile {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-smile);
}

.icon-surprise {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-surprise);
}

.icon-lost {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-dizzy);
}

.icon-winner {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-grin-stars);
}

.icon-rolling-eyes {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-meh-rolling-eyes);
}

.icon-grin-squint {
  @extend %icon-regular-outline;
  content: fa-content($fa-var-grin-squint);
}

@mixin setFaceIcons($base-selector) {
  $icon-types: "smile", "surprise", "lost", "winner", "rolling-eyes", "grin-squint";
  @include setIdentifierIcons($base-selector, $icon-types);
}
