@use "../../theming/theming";

.game-board {
  // width: 100%;
  // height: 100%;



 // background-color: pink;
  border: 2px solid green;
}

.game-board__actions {
  // width: 100%;
  // height: 100%;



 // background-color: pink;
  border: 2px solid orange;
}

.game-board__dashboard {
  // width: 100%;
  // height: 100%;



 // background-color: pink;
  border: 2px solid orange;
}

.game-board__mine-field {
  // width: 100%;
  // height: 100%;



 // background-color: pink;
  border: 2px solid orange;
}

