@use "sass:list";

@use "../../theming/theming";
@use "./game-board-styles";


._board-section {
  border-width: 2px;
  border-style: solid;
  @extend %between-start;
  min-height: 30px;
}

._board-button {
  height: 30px;
  min-width: 30px;
}

@import "./dashboard/dashboard";
@import "./minefield/minefield";
@import "./tile/tile";

.game-board__actions {
  @extend ._board-section;
}









/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  .game-board {
    @include game-board-styles.applyThemeBoardStyle("light");
  }

  ._board-section {
    @include game-board-styles.twoSideBorderDirectionTopLeft(theming.getThemeColor("light", "board-grid-dark"), theming.getThemeColor("light", "board-grid-light"));
  }

  ._board-button {
    @include game-board-styles.applyThemeBoardButtonStyle("light");
  }

}

.theme-dark {
  .game-board {
    @include game-board-styles.applyThemeBoardStyle("dark");
  }

  ._board-section {
    @include game-board-styles.twoSideBorderDirectionTopLeft(theming.getThemeColor("dark", "board-grid-dark"), theming.getThemeColor("dark", "board-grid-light"));
  }

  ._board-button {
    @include game-board-styles.applyThemeBoardButtonStyle("dark");
  }

}