@use 'styles/utils/flexbox/flexbox';
@use 'styles/utils/animations/animations';
@use 'styles/utils/shapes';
@use 'styles/utils/state';
@use 'styles/iconography/iconography';
@use 'styles/components/card/card';
@use 'styles/components/button/button';

app-dropdown-select {
  position: relative;
  display: block;
  width: 300px;
}


.app-dropdown-select__toggle-button {
  height: 34px;
  @extend %flex-start-center;
  width: 100%;
  padding: 0 10px;
  &[aria-expanded="true"] {
    .app-dropdown-select__toggle-button-icon {
      margin-top: 4px;
      transform: rotate(-180deg);
    }
  }
}

.app-dropdown-select__toggle-button-text {
  display: block;
  flex-grow: 1;
  text-align: left;
  text-transform: capitalize;
  padding-right: 10px;
}

.app-dropdown-select__toggle-button-icon {
  will-change: transform;
  transition: transform 0.3s ease-in-out;
  font-size: 1em;
  padding-top: 4px;
  @include iconography.afterIcon("caret-down");
}



.app-dropdown-panel {
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  background: #fff;
  left: 0;
  top: 34px;
  padding: 0 10px;
}

