@use 'sass:map';
@use 'styles/utils/shapes';
@use 'styles/iconography/iconography';
@use 'styles/utils/flexbox/flexbox';
@use 'styles/game/board-utils';
$size: 40px;
$icon-size: 26;
$icon-shape: #{$icon-size - 2}px;

@mixin faceIcon($type) {
  .board-face-icon {
    &:after {
      margin-left: -1px;
      @extend .icon-#{$type};
    }
  }
}

@mixin setFaceIcons() {
  $states: "smile", "surprise", "winner", "looser", "rolling-eyes";

  @each $state in $states {
    &[state="#{$state}"] {
      @include faceIcon("face-" +#{$state});
    }
  }
}

._board-face-button-enabled {
  cursor: pointer;
  &:active {
    // TODO: THEMING
    background-color: #f2f2f2;
    @extend ._board-section-borders;
    > .board-face-icon {
      box-shadow: none;
    }
  }
}

app-board-face {
  width: $size;
  height: $size;
  display: block;
  margin: auto;
  @include faceIcon("face-smile");
  @include setFaceIcons();
}

.board-face-button {
  width: 100%;
  height: 100%;
  @extend %flex-center-center;
  overflow: hidden;
  outline: none;

  @extend ._board-button-borders;
  border-radius: 5px;
  // TODO: THEMING
  background-color: inherit;
  color: #000;

  &[aria-disabled="true"] {
    cursor: default;
  }
  &[aria-disabled="false"] {
    @extend ._board-face-button-enabled;
  }
}

.board-face-button.board-face-icon--player {
  .board-face-icon {
    @extend ._player-background;
  }
}

.board-face-icon {
  display: block;
  font-size: #{$icon-size}px;
  line-height: $icon-shape;
  @include shapes.circle($icon-shape);
  @extend ._default-background;
  // TODO: THEMING
  box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

// TODO: THEMING
._default-background {
  background-color: #ffff00;
}

._player-background {
  background-color: #fff;
}
