@use "./game-results-theming";
@import "../../../components/table/table";
@import "../../../components/user-avatar/user-avatar";

._xmark {
  &::after {
    @extend .icon-x;
    font-size: 1.2rem;
  }
}

._checkmark {
  &::after {
    @extend .icon-check;
    font-size: 1.2rem;
  }
}

._result {
  display: inline-block;
  height: 26px;
  width: 60px;
  line-height: 27px;
}

._table-border {
  border: 1px solid;
}

._separator-cell {
  width: 28px;
}

.game-results-container {
  display: inline-block;

  .game-results-info {
    margin-top: 10px;
    font-style: oblique;
    text-align: center;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  .table {
    @extend ._table-border;
  }

  thead > tr > th {
    position: relative;
    padding: 0px 5px;
    @extend ._table-border;
    vertical-align: top;
    &:nth-of-type(3) {
      @extend ._separator-cell;
      font-weight: 900;
      font-size: 1.2rem;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  tbody > tr > td,
  tbody > tr > th {
    position: relative;
    padding: 0px 5px;
    @extend ._table-border;
  }

  tbody > tr > th {
    max-width: 126px;
  }

  tbody > tr > td {
    text-align: center;
    min-width: 26px;

    &:nth-of-type(2) {
      @extend ._separator-cell;
    }
  }
}

.result-boolean--false {
  @extend ._result;
  @extend ._xmark;
}

.result-boolean--true {
  @extend ._result;
  @extend ._checkmark;
}

.result-number {
  @extend ._result;
  font-weight: 700;
}

.game-result-player {
  @extend %start-center;
  flex-direction: column;
  min-width: 120px;
  padding-top: 5px;

  .user-avatar {
    font-size: 21px;
    @include circle(40px);

    &::before {
      @include circle(40px);
      line-height: 40px;
    }
  }

  .game-result-player-name {
    padding: 4px 0;
    width: 100%;
    max-width: 120px;
    text-align: center;
    word-break: break-all;
    display: inline-block;
    line-height: 14px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include game-results-theming.setTheming();
