@use "./invitations-controller-theming";
@import "../toggle/toggle";
@import "../invitations-list/invitations-list";

// .invitations {
//   height: 28px;
// }

.invitations__header-indicator {
  display: inline-block;
  padding: 0 5px;
}

.invitations-controller__container {
  width: 358px;
}

.invitations__no-invitations-message {
  height: 83px;
  padding: 0 20px;
  line-height: 83px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.invitations__button-indicator {
  @include circle(16px);
  position: absolute;
  top: -4px;
  right: -4px;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include invitations-controller-theming.setTheming();
