@use 'styles/utils/flexbox/flexbox';
@use 'styles/iconography/iconography';

.game-setting {
  @extend %flex-start-end;
  margin-bottom: 20px;

  > label {
    @extend .game-setting-label;
  }

  > app-number-input {
    max-width: 114px;
  }
}

.game-setting-label {
  text-transform: capitalize;
  min-width: 180px;
  flex-grow: 1;
  font-weight: 600;
  padding-right: 10px;
  font-size: 1.1rem;
}

.game-setting-header {
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.1rem;

  &.level {
    &::before {
      @extend .icon-level;
      width: 20px;
      text-align: left;
      margin-right: 10px;
    }
  }


  &.options {
    &::before {
      @extend .icon-sliders;
      width: 20px;
      text-align: left;
      margin-right: 10px;
    }
  }
  
  &.turns {
    &::before {
      @extend .icon-stopwatch;
      width: 20px;
      text-align: left;
      margin-right: 10px;
    }
  }

}
