@use "./online-user-card-theming";
@import "../../user-avatar/user-avatar";

.online-user-card {
  min-width: 140px;
  min-height: 140px;
  max-width: 140px;
  max-height: 140px;
  position: relative;
  @extend %start-center;
  flex-direction: column;
  padding: 10px;
  margin: 20px;

  > .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    @extend %ellipsis-text;
  }

  @include setAvatarSize(50px, 28px, 48px);
}

.online-user-card--in-game {
  &::after {
    @extend .icon-gamepad;
    position: absolute;
    font-size: 22px;
    width: 26px;
    top: 44px;
    right: 22px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include online-user-card-theming.setTheming();
