@use "./modal-window-theming";

.modal-window {
  @extend %center-center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: getIndex("modal");
  transition: 0.3s ease-in-out;
  top: -100vh;
}

.modal-window--display {
  top: 0px !important;
}

.modal-dialog--shake {
  animation: shake 0.5s;
}

.modal-dialog-content-container {
  padding: 10px;
  min-width: 240px;

  > .content {
    font-size: 1.1rem;
    padding: 15px 5px 0px;
    font-style: italic;
  }

  > .actions {
    @extend %between-center;
    margin-top: 15px;
  }
}

#modal-timer {
  padding-left: 5px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include modal-window-theming.setTheming();

