$primary-color: #262626;
$light-white: #f2f2f2;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {
  background-color: $light-white;
  color: $primary-color;


  .app__header {
    background-color: $primary-color;
    color: $light-white;
  }

  .loader {
    background-color: $light-white;
  }

  .loader__spinner {
    stroke: $primary-color;
  }

}