@import './iconography_utils';

.icon-user {
  @extend %icon-regular;
  content: fa-content($fa-var-user);
}

.icon-bot {
  @extend %icon-regular;
  content: fa-content($fa-var-robot);
}

.icon-exclamation {
  @extend %icon-regular;
  content: fa-content($fa-var-exclamation);
}

.icon-info-circle {
  @extend %icon-regular;
  content: fa-content($fa-var-info-circle);
}

.icon-eraser {
  @extend %icon-regular;
  content: fa-content($fa-var-eraser);
}

.icon-x {
  @extend %icon-regular;
  content: fa-content($fa-var-times);
}

.icon-spinner {
  @extend %icon-regular;
  content: fa-content($fa-var-spinner);
}

.icon-online {
  @extend %icon-regular;
  content: fa-content($fa-var-globe);
}

.icon-friend {
  @extend %icon-regular;
  content: fa-content($fa-var-user-friends);
}

.icon-flag {
  @extend %icon-brand;
  content: fa-content($fa-var-font-awesome-flag);
}

.icon-bot {
  @extend %icon-regular;
  content: fa-content($fa-var-robot);
}

.icon-minus {
  @extend %icon-regular;
  content: fa-content($fa-var-minus);
}

.icon-plus {
  @extend %icon-regular;
  content: fa-content($fa-var-plus);
}

.icon-caret-down {
  @extend %icon-regular;
  content: fa-content($fa-var-chevron-down);
}

@mixin beforeIcon($key) {
  &::before {
    @extend .icon-#{$key};
  }
}

@mixin afterIcon($key) {
  &::after {
    @extend .icon-#{$key};
  }
}