@import '../color-scheme/color-scheme.scss';

.card-shadow {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

// .card {
//     @extend .card-shadow;
// }

.bordered-card {
	@extend .card;
	@extend .card-shadow;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {

    .card {
        background-color: getLightThemeColor(card-background);
        color           : getLightThemeColor(card-color);
    }

    .bordered-card {
        border: 1px solid getLightThemeColor(card-border-color);
    }
}

.theme-dark {
    .card {
        background-color: getDarkThemeColor(card-background);
        color           : getDarkThemeColor(card-color);
    }

    .bordered-card {
        border: 1px solid getDarkThemeColor(card-border-color);
    }
}
