@use 'styles/utils/flexbox/flexbox';
@use 'styles/game/flag-icons';
@use 'styles/theming/theming';
@use 'styles/iconography/iconography';
@use 'styles/utils/shapes';
@mixin setColors($theme) {
  $game-colors: theming.getThemePallette($theme, "game-colors");
  @each $type, $color in $game-colors {
    &[color-type="#{$type}"] {
      color: $color;
    }
  }
}

app-cleared-tiles {
  position: relative;
  @extend %flex-center-center;
  text-align: center;
  font-size: 18px;
  padding-bottom: 4px;

  border: 2px solid red;
  margin-bottom: 10px;
  border: 2px solid #b3b3b3;
  @include shapes.circle(40px);
  @include iconography.afterIcon('grid-tiles');
  color: #bfbfbf;
}

.placed-flags__number {
  position: absolute;
  bottom: -8px;
  font-weight: 900;
  padding: 0 4px;
  font-size: 14px;
  line-height: 14px;
  //TODO: THEMING
  background-color: #fff;
  // color: #33cc00;
  // text-shadow: 0px 0px 1px #999999;
  // &.placed-flags__number--0 {
  //   color: #ff0000;
  // }
  // &.placed-flags__number--1 {
  //   color: #ff6600;
  // }
}
