@use "sass:color";
@use "sass:map";
@use "../../themes/theme";

@import "./switcher-base";
@import "./switcher-thumb";
@import "./switcher-track";

%transition {
	transition: all .3s linear;
}

.switcher {
	@extend ._track;

	&:disabled {
		@extend ._disabled;
	}

	&:after {
		transition: all .3s linear;
		@extend ._thumb;
	}

}

[role="switch"][aria-checked="false"] {
	@extend ._track--off;
	&:after {
		@extend ._thumb--off;
		z-index: 4;
	}
}

[role="switch"][aria-checked="true"] {
	@extend ._track--on;
	&:after {
		@extend ._thumb--on;
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin applySwitcherTheme($theme) {
	$theme-colors: theme.getThemeProperties($theme, "switcher");
	$color--on   : map-get($theme-colors, "on");
	$color--off  : map-get($theme-colors, "off");

	._thumb {
		@include theme.applyTheme($theme, "shadow");

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	// on
	._thumb--on {
		background-color: $color--on;

		&:hover,
		&:focus {
			border-color: color.adjust($color--off, $lightness: 45%, $alpha: 0);
		}
	}

	._track--on {
		background-color: color.adjust($color--on, $lightness: 45%, $alpha: 0);
	}

	// off
	._thumb--off {
		background-color: color.adjust($color--off, $lightness: 10%, $alpha: 0);

		&:hover,
		&:focus {
			border-color: color.adjust($color--on, $lightness: 45%, $alpha: 0);
		}
	}

	._track--off {
		background-color: $color--off;
	}
}

.theme-light {
	@include applySwitcherTheme("light");
}

.theme-dark {
	@include applySwitcherTheme("dark");
}
