._thumb {
	@include pseudoCircle($thumb-size);
	@extend %transition;
	position: absolute;
	top     : #{$thumb-position-top}px;
	border: 1px solid transparent;
}

._thumb--off {
	left: 0px;
}

._thumb--on {
	left: #{$thumb-size}px;
}