$font-path: "../../assets/fonts/nunito-v14-latin/nunito-v14-latin-" !default;

@mixin setFontFace($name, $secondaryName, $extension) {
  font-family: "Nunito";
  font-display: swap;
  src: url("#{$font-path}#{$extension}.eot");
  src: local("Nunito #{$name}"), local("Nunito-#{$secondaryName}"),
    url("#{$font-path}#{$extension}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}#{$extension}.woff2") format("woff2"),
    url("#{$font-path}#{$extension}.woff") format("woff"),
    url("#{$font-path}#{$extension}.ttf") format("truetype"),
    url("#{$font-path}#{$extension}.svg#Nunito") format("svg");
}

/* nunito-200 - latin */
@font-face {
  font-style: normal;
  font-weight: 200;
  @include setFontFace("ExtraLight", "ExtraLight", "200");
}

/* nunito-200italic - latin */
@font-face {
  font-style: italic;
  font-weight: 200;
  @include setFontFace("ExtraLight Italic", "ExtraLightItalic", "200italic");
}

/* nunito-300 - latin */
@font-face {
  font-style: normal;
  font-weight: 300;
  @include setFontFace("Light", "Light", "300");
}

/* nunito-300italic - latin */
@font-face {
  font-style: italic;
  font-weight: 300;
  @include setFontFace("Light Italic", "LightItalic", "300italic");
}

/* nunito-regular - latin */
@font-face {
  font-style: normal;
  font-weight: 400;
  @include setFontFace("Regular", "Regular", "regular");
}

/* nunito-italic - latin */
@font-face {
  font-style: italic;
  font-weight: 400;
  @include setFontFace("Italic", "Italic", "italic");
}

/* nunito-600 - latin */
@font-face {
  font-style: normal;
  font-weight: 600;
  @include setFontFace("SemiBold", "SemiBold", "600");
}

/* nunito-600italic - latin */
@font-face {
  font-style: italic;
  font-weight: 600;
  @include setFontFace("SemiBold Italic", "SemiBoldItalic", "600italic");
}

/* nunito-700 - latin */
@font-face {
  font-style: normal;
  font-weight: 700;
  @include setFontFace("Bold", "Bold", "700");
}

/* nunito-700italic - latin */
@font-face {
  font-style: italic;
  font-weight: 700;
  @include setFontFace("Bold Italic", "BoldItalic", "700italic");
}

/* nunito-800 - latin */
@font-face {
  font-style: normal;
  font-weight: 800;
  @include setFontFace("ExtraBold", "ExtraBold", "800");
}

/* nunito-800italic - latin */
@font-face {
  font-style: italic;
  font-weight: 800;
  @include setFontFace("ExtraBold Italic", "ExtraBoldItalic", "800italic");
}

/* nunito-900 - latin */
@font-face {
  font-style: normal;
  font-weight: 900;
  @include setFontFace("Black", "Black", "900");
}

/* nunito-900italic - latin */
@font-face {
  font-style: italic;
  font-weight: 900;
  @include setFontFace("Black Italic", "BlackItalic", "900italic");
}
