@import './font-face';

$font-family: 'Nunito', sans-serif;
$font-size-base: 15px;

// html,
// body,
// button,
* {
  font-family: $font-family;
  font-size: $font-size-base;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: capitalize;
}

input {
  font-family: $font-family;
}

// %capitalize-first-letter {
//   &::first-letter {
//     text-transform: uppercase;
//   }
// }

// %ellipsis-text {
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
