@use "./digit-theming";

$line-space: 2px;
$line-thick-size: 2px;
$horizontal-space: 3px;

%horizontal-line {
  height: 0px;
  width: 10px;
  border: none;
  border-left: $line-thick-size solid transparent;
  border-right: $line-thick-size solid transparent;
  left: $horizontal-space;
}

%vertical-line {
  height: 11px;
  width: 0px;
  border: none;
  border-top: $line-thick-size solid transparent;
  border-bottom: $line-thick-size solid transparent;
}

._right__line {
  right: $line-space;
  border-right: $line-thick-size solid transparent;
}

._left__line {
  left: $line-space;
  border-left: $line-thick-size solid transparent;
}

._top__line {
  @extend %horizontal-line;
  border-top: $line-thick-size solid transparent;
}

._bottom__line {
  @extend %horizontal-line;
  border-bottom: $line-thick-size solid transparent;
}

._middle__line {
  @extend %horizontal-line;
  border-bottom: 1px solid transparent;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 0px;
    left: -#{$line-space};
    width: 7px;
    display: block;
    border-right: 1px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: none;
    border-top: 1px solid transparent;
  }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include digit-theming.setTheming();
