@use 'styles/utils/flexbox/flexbox';
@use 'styles/iconography/iconography';
@use 'styles/components/card/card';
@use 'styles/utils/animations/animations';

app-dilemma-selection {
  @extend %flex-center-center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}

.dilemma-selection__content-container {
  @extend .card;
  min-width: 300px;
  h2 {
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    padding: 10px;
  }

  .buttons-container {
    margin-top: 20px;
    @extend %flex-around-center;
  }

  &.dilemma-selection__content-container--shake {
    animation: shake .6s ease-in-out;
  }
}

// TODO THEMING
app-dilemma-selection {
  background: rgba(0, 0, 0, 0.5);
}

