@use "sass:list";
@use "../../../theming/theming";
@use "../game-board-styles";

%tile-cell__content {
  text-align: center;
  display: block;
  font-weight: 700;
}

@mixin setNumberContent() {
  @for $number from 1 through 8 {
    &.tile-cell__content--#{$number} {
      &::after {
        content: "#{$number}";
        @extend %tile-cell__content;
        width: 100%;
        font-size: 1.1rem;
        line-height: 21px;
      }
    }
  }
}

@mixin setMineTypeIcons() {
  $mine-types: "bomb", "bahai", "virus";

  @each $type in $mine-types {
    .game-board--#{$type} {
      .tile-cell.tile-cell__content--mine {
        &::after {
          @extend .icon-#{$type};
          @extend %tile-cell__content;
          font-size: 16px;
          line-height: 16px;
          height: 14px;
          width: 16px;
          margin-left: 3px;
        }
      }
    }
  }
}

@mixin setTextShadow($theme) {
  $shadow-color: theming.getThemeColor($theme, "theme-primary");
  text-shadow: -1px -1px 1px rgba($shadow-color, 0.3),
    1px -1px 1px rgba($shadow-color, 0.3), -1px 1px 1px rgba($shadow-color, 0.3),
    1px 1px 1px rgba($shadow-color, 0.3);
}

@mixin setTileTheme($theme) {
  .tile-cell {
    @include theming.applyGameColorsStyle(
      $theme,
      "&.tile-cell__content",
      "color"
    );
    border-color: theming.getThemeColor($theme, "board-grid");

    &.tile-cell--revealed-mine {
      background-color: theming.getThemeColor($theme, "error-primary");
      color: theming.getThemeColor($theme, "error-pale-contrast");
    }
  }

  .tile-cell-btn {
    @include game-board-styles.applyThemeBoardButtonStyle($theme);
    @include theming.applyGameColorsStyle(
      $theme,
      "&.tile-cell-btn-color",
      "color"
    );

    &.tile-cell-btn--active {
      background-color: theming.getThemeColor($theme, "board-background");
    }

    &.tile-cell-btn--revealed {
      background-color: rgba(
        theming.getThemeColor($theme, "board-button-background"),
        0.5
      );
    }

    &.tile-cell-btn--flagged {
      &::before {
        @include setTextShadow($theme);
      }
    }

    &.tile-cell-btn--marked {
      &::after {
        @include setTextShadow($theme);
      }
    }
  }

  ._wrong-flag-hint {
    color: theming.getThemeColor($theme, "error-primary");
    @include setTextShadow($theme);
  }
}
