@use "sass:list";
@use "../../../theming/theming";
@use "./tile-styles";

.tile-cell {
  @include rectangle(22px);
  position: relative;
  box-sizing: border-box;
  border: 1px solid;
  @include tile-styles.setNumberContent();
  cursor: pointer;
}

.tile-cell-btn {
  @include rectangle(22px);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border-width: 2px;

  &:disabled {
    cursor: not-allowed !important;
  }

  &.tile-cell-btn--active {
    border: 2px solid transparent !important;
  }

  &.tile-cell-btn--flagged {
    &::before {
      @extend .icon-flag;
      line-height: 19px;
    }
  }

  &.tile-cell-btn--wrongly-flagged {
    &::after {
      @extend ._wrong-flag-hint;
    }
  }

  &.tile-cell-btn--marked {
    &::after {
      @extend .icon-question-mark;
      line-height: 19px;
    }
  }
}

._wrong-flag-hint {
  content: "X";
  font-family: $font-family;
  line-height: 19px;
  position: absolute;
  top: 1px;
  left: 3px;
  z-index: 5;
  text-shadow: 0;
  font-size: 1.3rem;
}

@include tile-styles.setMineTypeIcons();

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.theme-light {
  @include tile-styles.setTileTheme("light");
}

.theme-dark {
  @include tile-styles.setTileTheme("dark");
}
