@use "sass:map";
@use "../../abstract/functions";
@use "../theme-utils";

$pallete: (
	error-primary: #ff0000,
	error-primary-contrast: #ffffff,
	error-secondary: #e60000,
	error-secondary-contrast: #f2f2f2,
	error-pale: #fa8072,
	error-pale-contrast: #0d0d0d,
);

@function generatePalleteBoxTheming($color-name) {
	$background: functions.getFromMap($pallete, $color-name);
	$color: functions.getFromMap($pallete, #{$color-name}-contrast);
	@return theme-utils.generateBoxTheming($background, $color);
}

@function generateBtnOnErrorTheming() {
	$background: functions.getFromMap($pallete, "error-secondary-contrast");
	@return theme-utils.generateBoxTheming($background, #1a1a1a);
}

@function generateBtnOnErrorFocusTheming() {
	$background: functions.getFromMap($pallete, "error-pale-contrast");
	$color: functions.getFromMap($pallete, "error-primary-contrast");
	@return theme-utils.generateBoxTheming($background, $color);
}

$pallete-theming: (
	error-primary  : generatePalleteBoxTheming("error-primary"),
	error-secondary: generatePalleteBoxTheming("error-secondary"),
	error-pale     : generatePalleteBoxTheming("error-pale"),
	error-inpt     : theme-utils.generateInputTheming(functions.getFromMap($pallete, "error-primary")),
	btn-on-error     : generateBtnOnErrorTheming(),
	btn-on-error-focused     : generateBtnOnErrorFocusTheming()
);
