@use "sass:map";
@use "../../abstract/functions";
@use "../theme-utils";


$game-pallete: (
	type-1: #002699,
	type-2: #009900,
	type-3: #ff0000,
	type-4: #ff6600,
	type-5: #e6b800,
	type-6: #9900cc,
	type-7: #ff00bf,
	type-8: #1a1a1a
);
