@use "sass:list";
@use "../../theming/theming";

@mixin setThemeStyles($theme) {
  .link-invitation-button__icon {
    $background: theming.getThemeColor($theme, "theme-primary");
    $color: theming.getThemeColor($theme, "theme-secondary");
    @include theming.setBoxTheming($background, $color);
  }

  .link-invitation-button {
    @include theming.setThemeCard($theme);
    @include theming.setThemeBoxShadow($theme);

    &:hover,
    &:focus {
      color: theming.getThemeColor($theme, "theme-secondary-intense");
      background-color: theming.getThemeColor($theme, "theme-primary-intense");

      > .link-invitation-button__icon {
        background-color: theming.getThemeColor($theme, "theme-secondary");
        color: theming.getThemeColor($theme, "theme-primary-intense");
      }
    }
  }
}

@mixin setTheming() {
  $themes: "light", "dark";

  @each $theme in $themes {
    .theme-#{$theme} {
      @include setThemeStyles($theme);
    }
  }
}

@include setTheming();
