@use "sass:color";
@use "../../theming/theming";

@import "../button/button";
@import "../../components/form/form_username";
@import "../input/number-input";
@import "../switcher/switcher";
@import "../dropdown-select/dropdown-select";

.settings-wizard {
  position: relative;
  border: 1px solid;
  padding: 10px;
}

.settings-wizard-title-container {
  @extend %center-end;
  height: 24px;
  text-transform: uppercase;
  overflow: hidden;
  position: absolute;
  top: -13px;
  left: 5px;
  padding: 0 5px;
}

.settings-wizard-title-icon {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  font-size: 1.2rem;
  line-height: 22px;

  &.settings-wizard-title-icon--levelSettings {
    font-size: 1rem;
    @include afterIcon("level");
  }

  &.settings-wizard-title-icon--vsModeSettings {
    @include afterIcon("mode");
  }

  &.settings-wizard-title-icon--optionsSettings {
    @include afterIcon("sliders");
  }

  &.settings-wizard-title-icon--turnSettings {
    @include afterIcon("stopwatch");
  }

  &.settings-wizard-title-icon--botMode {
    @include afterIcon("bot");
  }
}

.settings-wizard-title {
  flex-grow: 1;
  font-size: 1.1rem;
}

.settings-wizard-section {
  @extend %start-center;
  margin-top: 10px;
}

.settings-wizard-label {
  text-transform: capitalize;
  height: getSize("input-height");
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  flex-grow: 1;
}

.settings-wizard-field-container {
  @extend %end-end;
  height: getSize("input-height");

  .dropdown-container {
    margin-top: 4px;
    max-width: 120px;
    min-width: 120px;

    > .dropdown-listbox-container {
      z-index: 800;
    }
  }

  .number-input-container {
    .error-message {
      width: 290px;
    }
  }
}

.settings-wizard-field-explanation {
  @extend %center-center;
  padding: 10px 10px 0;
  text-align: center;
  font-style: italic;
  height: 48px;

  > div {
    @extend %capitalize-first-letter;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin setScrollbarThemeStyles($theme) {
  .settings-wizard {
    border-color: color.adjust(
      theming.getThemeColor($theme, "theme-primary"),
      $lightness: 1,
      $alpha: -0.7
    );
  }

  .settings-wizard-title-container {
    @include theming.setThemeCard($theme);
    color: color.adjust(
      theming.getThemeColor($theme, "theme-primary"),
      $lightness: 1,
      $alpha: -0.3
    );
  }
}

.theme-light {
  @include setScrollbarThemeStyles("light");
}

.theme-dark {
  @include setScrollbarThemeStyles("dark");
}
