@use "sass:color";
@use "../../theming/theming";

@import "../button/button";
@import "../../components/form/form_username";
@import "../input/number-input";
@import "../switcher/switcher";
@import "../dropdown-select/dropdown-select";

@import "./game-settings-wizard-title/game-settings-wizard-title";


.settings-wizard {
  position: relative;
  padding: 10px;
}



.settings-wizard-section {
  @extend %start-center;
  margin-top: 15px;
}

.settings-wizard-label {
  text-transform: capitalize;
  height: getSize("input-height");
  line-height: 40px;
  font-style: italic;
  font-weight: 700;
  flex-grow: 1;
}

.settings-wizard-field-container {
  @extend %end-end;
  height: getSize("input-height");

  .dropdown-container {
    margin-top: 4px;
    max-width: 126px;
    min-width: 126px;

    > .dropdown-listbox-container {
      z-index: 800;
    }
  }

  .number-input-container {
    .error-message {
      width: 290px;
    }
  }
}

.settings-wizard-field-explanation {
  @extend %center-center;
  padding: 0px 10px 0;
  text-align: center;
  font-style: italic;
  height: 48px;

  > div {
    @extend %capitalize-first-letter;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin setScrollbarThemeStyles($theme) {
  .settings-wizard {
    border-color: color.adjust(
      theming.getThemeColor($theme, "theme-primary"),
      $lightness: 1,
      $alpha: -0.7
    );
  }

}

.theme-light {
  @include setScrollbarThemeStyles("light");
}

.theme-dark {
  @include setScrollbarThemeStyles("dark");
}
