@use "../base/sizes";

@use "../base/iconography";
@use "../themes/theme";


._btn {
	cursor    : pointer;
	outline   : none;
	border    : none;
	overflow  : hidden;
	text-align: center;

	&:disabled {
		@extend ._disabled;
	}
}

._btn-text {
	@extend ._btn;
	display      : inline-block;
	height       : sizes.getSize(btn-height);
	min-width    : 46px;
	padding      : 0 10px;
	border-radius: 6px;
	font-size    : 0.9rem;
	font-weight  : 500;
	line-height  : 18px;
}

._btn-icon {
	@extend ._btn;
	display: inline-block;
}

._btn-icon--normal {
	@include circle(sizes.getSize(btn-height));
	font-size  : 21px;
	line-height: 22px;
}

._btn-icon--small {
	@include circle(sizes.getSize(btn-height-small));
	font-size  : 15px;
	line-height: 15px;
}

.button-icon--close {
	@include iconography.afterIcon(x);
}

// .button-icon--settings {
//     &::after {
//         @extend .icon-settings;
//     }
// }




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin applyButtonTheme($theme, $type) {
	@include theme.applyTheme($theme, $type);

	&:hover,
	&:focus {
		@include theme.applyTheme($theme, #{$type}-focused);
	}

	&:disabled {

		&:hover,
		&:focus {
			@include theme.applyTheme($theme, $type);
		}
	}
}

.theme-light {
	._btn-primary {
		@include applyButtonTheme("light", "btn-primary");
	}
}

.theme-dark {
	._btn-primary {
		@include applyButtonTheme("dark", "btn-primary");
	}
}
