@use "../../../theming/theming";

@mixin setIconShadow($theme) {
  $color    : theming.getThemeColor($theme, "theme-primary");
  box-shadow: 0 0px 6px 2px rgba($color, .4);
}

@mixin applyThemeDefaultDashboardIcon($theme) {
  .dashboard__face-icon.dashboard__face-icon--default {
    &::before {
      background-color: theming.getThemeColor($theme, "dashboard-icon-background");
      @include setIconShadow($theme);
    }
    color: theming.getThemeColor($theme, "dashboard-icon-color");
  }
}

@mixin applyThemePlayerIcon($theme) {
  .dashboard__face-icon.dashboard__face-icon--player {
    &::before {
      background-color: theming.getThemeColor($theme, "dashboard-icon-user-background");
      @include setIconShadow($theme);
    }
    @include theming.applyGameColorsStyle($theme, "&.face-icon-color", "color");
  }
}

@mixin applyThemStyles($theme) {
  @include applyThemeDefaultDashboardIcon($theme);
  @include applyThemePlayerIcon($theme);
}
