@import "../game-board/game-board";
@import "./vs-board-indicator/vs-board-indicator";

.vs-board {
  @extend .game-board;
  @extend %center-center;
  flex-direction: column;
  height: 90px;
  margin: 0 30px;

  .board-actions {
    min-width: 203px;
  }
}
