.form {
	width           : 100%;
	margin          : auto;
	position        : relative;
	background-color: transparent;
}

.form-title {
	margin-bottom : 15px;
	text-transform: capitalize;
}

.form-section {
	@extend %start-center;
	flex-flow: row nowrap;
}

.form-actions {
    @extend %centered-centered;
    justify-content: space-between!important;
    margin-top     : 20px;
}