@import '../../../theme/layouts';
@import '../../../theme/elements/card.scss';
@import '../../../theme/elements/button.scss';
@import '../../../theme/iconography/iconography.scss';
@import '../../../theme/color-scheme/color-scheme.scss';

.toast-notification {
    @extend .card-shadow;
    width        : 260px;
    max-height   : 1400px;
    overflow     : hidden;
    position     : absolute;
    padding      : 5px 10px 8px;
    border-radius: 10px;
    z-index      : 3000;
    transition   : top 0.3s ease-in-out;
    top          : -100px;
    right        : 10px;
}

.toast-close-btn {
    @extend .button-icon--small;
    position: absolute;
    top     : 5px;
    right   : 5px;
    background-color: getLightThemeColor(button-background);
    color           : getLightThemeColor(button-color);

    &:hover,
    &:focus {
        background-color: getLightThemeColor(button-background-focused);
    }

    &:disabled {

        &:hover,
        &:focus {
            background-color: getLightThemeColor(button-background);
        }

    }
}

.toast-notification--show {
    top: 60px !important;
}

.toast-notification-title {
    @extend %start-flexbox;
    font-weight: 800;
    height     : 24px;
}

.toast-notification-title-icon {
    display     : inline-block;
    margin-right: 5px;
}

.toast-notification--error {
    .toast-notification-title-icon {
        &:after {
            @extend .icon-exclamation-triangle;
        }
    }
}

.toast-notification--error {
    background-color: getErrorColor(secondary);
    color           : getErrorColor(text);
}
