@charset 'utf-8';

@import './theme/variables';
@import './theme/mixins';
@import './theme/utilities';
@import './theme/color-scheme/color-scheme.scss';
@import './theme/button.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  user-select: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: $font-size-base;
}

.header {
  height: 46px;
  width: 100%;
  padding: 0 15px;
  @extend %start-flexbox;
  @extend %card-shadow;

  >.header-title {
    font-size: $font-size-app-header;
    font-weight: 500;
    flex-grow: 1;
  }
}

.main {
  @extend %centered-flexbox;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 46px);
  position: relative;
  padding: 15px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app {
  background-color: getColor(base);
  color: getColor(primary);

  .header {
    background-color: getColor(primary);
    color: getColor(base);
  }

}

.app--dark {
  background-color: getColor(base, dark);
  color: getColor(primary, dark);

  .header {
    background-color: getColor(primary, dark);
    color: getColor(base, dark);
  }
}
