

@import "./invitation-content-theming";


.invitation__sender {
  font-weight: 600;
  @extend %ellipsis-text;
  width: 100%;
}

.invitation__text {
  font-weight: 600;
  width: 100%;
  margin-bottom: 1px;
  text-transform: lowercase;
}

.invitation__created-at {
  font-style: italic;
}
