@use "./card-state-theming";
@import "../../../components/loaders/icon-loader/icon-loader";

._state-section-container {
  @include circle(100%);
  @extend %center-center;
  @extend ._card-circle-border;
  position: relative;
}

._state-icon {
  @include circle(28px);
  display: block;
}

.state-flag {
  @extend ._state-section-container;
  font-size: 1.6rem;

  &::after {
    @extend ._state-icon;
    @extend .icon-flag;
    margin-left: 5px;
    line-height: 27px;
  }
}

.state-loading {
  @extend ._state-section-container;
  font-size: 2rem;
}

.allowed-flags {
  position: absolute;
  font-size: 11px;
  font-weight: 900;
  width: 24px;
  height: 11px;
  line-height: 11px;
  text-align: center;
  bottom: -4px;

  &.allowed-flags--infinite {
    &::after {
      content: "\221E";
      font-size: 18px;
      line-height: 12px;
    }
  }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include card-state-theming.setTheming();
