@import "./game-wizard-navigation-step/game-wizard-navigation-step";

.game-wizard-navigation {
  overflow: hidden;
  position: relative;
  height: 65px;
  margin-top: 20px;
  width: 0px;
}

.game-wizard-navigation--expanded {
  width: 0%;
  @include expandWidth(.8);
}

.game-wizard-navigation--expanded-fast {
  width: 0%;
  @include expandWidth(.5);
}

.game-wizard-navigation__steps-container {
  width: 100%;
  min-width: 330px;
  @extend %between-center;
}
