

@import "./game-wizard-navigation-step/game-wizard-navigation-step";


.game-wizard-navigation {
  overflow: hidden;
  height: 80px;
  width: 0%;
  @include expandWidth();
  position: relative;

}

.game-wizard-navigation__steps-container {
  width: 100%;
  min-width: 330px;
  @extend %between-center;
}

