@use 'styles/components/card/card';
@use 'styles/game/board-utils';
@use 'styles/utils/flexbox/flexbox';

app-game-board {
  @extend .card;
  padding: 10px;
  @extend %flex-start-center;
  flex-direction: column;
}

.board-info {
  margin-bottom: 5px;
  width: 100%;
  min-width: 400px;
  @extend %flex-between-center;
}

._board-counter-container {
  height: 34px;
  width: 162px;
  overflow: hidden;
}

.board-info-timer-container {
  @extend ._board-counter-container;
  > app-game-timer {
    transform: scale(0.7);
    transform-origin: top left;
  }
}

.board-info-flags-container {
  @extend ._board-counter-container;
  @extend %flex-start-start;
  flex-direction: row-reverse;
  > app-flags-counter {
    transform: scale(0.7);
    transform-origin: top right;
  }
}

.board-minefield {
  display: inline-block;
  // TODO: THEMING
  background-color: #b3b3b3;
  @extend ._board-section-borders;
}
