@import "../../../../../theme/layouts";
@import "../../../../../theme/elements/button.scss";
@import "../../../../../theme/elements/card.scss";
@import "../../../../../theme/color-scheme/color-scheme.scss";
@import "../../../../../theme/iconography/iconography.scss";


.dropdown-listbox {

	@extend .card;
	@extend .card-shadow;
	@extend ._scrollbar;
	width    : 100%;
	// border: 2px solid red;

	position: absolute;
	top     : 27px;

	list-style-type: none;
	margin         : 0;
	padding        : 0;


	height: 0px;

	transition: height .6s;
	overflow-x: hidden;
	overflow-y: hidden;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	//outline: none;

	// overflow-y: scroll;
}

._scrollbar {
	&::-webkit-scrollbar-track {
		background-color: #e6e6e6;
	}

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
		background-color: #e6e6e6;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #595959;
		border-radius: 5px;
	}
}

.dropdown-listbox--expanded {
	height: 150px;
	overflow-y: auto;
}

.dropdown-listbox-option {
	// @extend %centered-flexbox;
	padding: 2px 5px;
	&:not(:last-of-type) {
		border-bottom: 1px solid #ccc;
	}
	cursor: pointer;
	&:hover, &:focus {
		background-color: #1a1a1a;
		color: #f2f2f2;
	}
	outline: none;
	// text-align: center;

}