@use "./turns-indicator-theming";
@import "./turns-indicator-utils";

$container-size: 84;

._turn-indicator {
  content: "";
  @include circle(#{$size}px);
  position: absolute;
  z-index: 10;
}

._turn-indicator-background {
  content: "";
  @include circle(#{$size + 2}px);
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: 2;
}

.turns-container {
  position: absolute;
  @extend %center-start;
  @include circle(#{$container-size}px);
  position: absolute;
  z-index: 2;
}

.turn-indicator-container {
  position: absolute;
  height: #{$container-size / 2}px;
  transform-origin: 0 100%;
}

.allowed-turns--infinite {
  position: absolute;
  bottom: 0px;
  text-align: center;
  height: 12px;
  width: 20px;
  overflow: hidden;
  font-weight: 900;
  &::after {
    content: "\221E";
    font-size: 18px;
    line-height: 12px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR THEMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@include turns-indicator-theming.setTheming();
